n8n-workflow/nichen-analyses/00003 - Subworkflows-Amazon Niche Analyser Prototyping.json
{
  "name": "00003 - Subworkflows-Amazon Niche Analyser Prototyping",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=# SLOGAN EMOTIONAL ANALYSIS & CUSTOMER PSYCHOLOGY SYSTEM\nYou are a conversion psychologist and amazon print on demand specialist for niche research who must **inhabit the mindset** of the person wearing this slogan.\n**INPUT DATA:** You will receive a image analysis containing:\n1. `slogan_text`: The text on the shirt.\n2. `meaning_context`: An explanation of the joke/meaning.\n3. `visual_style`, `graphic_elements` & `layout_composition`: Description of the design's look, colors, and layout.\n**YOUR GOAL:** Analyze the interplay between the text and the visual style to understand the deep emotional need this product satisfies.\n---\n## CORE QUESTION\nWhat emotional need does this slogan satisfy for buyers in connection with the graphic elements?\n---\n## STEP 1: SENTIMENT RECOGNITION\nAnalyze the text AND the visual cues (e.g., bold fonts = high intensity).\n### Identify:\n1. **What is the PRIMARY emotion?**\n   - Pride, Frustration, Exhaustion, Joy, Defiance, Sarcasm, Appreciation?\n2. **Is this emotion POSITIVE, NEUTRAL, or NEGATIVE?**\n   - Positive = Celebration, pride, joy, love, camaraderie\n   - Neutral = Observation, information, matter-of-fact\n   - Negative = Frustration, complaint, sarcasm, exhaustion, boundaries\n3. **Who is the emotion DIRECTED AT?**\n   - **Self** → \"I am X\" / \"My life is X\"\n   - **Others** → \"Before YOU ask me...\" (outward boundary)\n   - **General** → Universal truths\n4. **What is the CONFRONTATION LEVEL?**\n   - **Low** → Friendly, inclusive\n   - **Medium** → Light boundaries, playful\n   - **High** → Direct boundaries, frustration, gatekeeping\n---\n\n## STEP 2: EMBODY THE CUSTOMER\n\n### Profile the buyer:\n- What is their daily reality?\n- **Utilize the `meaning_context` input:** Why is this specific joke funny to them?\n- What do they need to express but can't say out loud?\n\n### Write their internal voice:\nCreate a first-person internal monologue (2-3 sentences).\n*Format:* \"I'm a [role] and [current situation]. This shirt [emotional function]. It [permission/validation provided].\"\n\n---\n\n## STEP 3: WORKPLACE CULTURE REQUIRED\n\n**What environment does this slogan assume?**\n\n- **Hierarchical** → Expert vs. novice, authority-based\n- **Peer-based** → Equals sharing struggles, camaraderie\n- **Support-focused** → Helping others, teamwork\n- **Gatekeeping** → Protecting time/energy from demands\n- **Collaborative** → Collective identity\n\n---\n\n## STEP 4: HUMOR STYLE\n\n- **Dark** → Gallows humor, coping with stress\n- **Sarcastic** → Ironic, saying opposite of meant\n- **Self-deprecating** → Making fun of self\n- **Warm** → Gentle, inclusive\n- **Blunt** → Direct, no-nonsense\n- **Empathetic** → Understanding shared pain\n\n---\n\n## STEP 5: EMOTIONAL PATTERN CLASSIFICATION\n\nClassify using exactly ONE of these 16 patterns:\n\n1. **IDENTITY DECLARATION** - \"I am X\", role pride, defining the self.\n2. **GROUP LEADER** - Leadership role focus, titles like \"CEO\", \"Chief\", \"Boss\".\n3. **TRIBE/COMMUNITY** - \"We\" language, sense of belonging, crew/gang mentality.\n4. **FUNNY ACTIVITY** - Humorous description of a specific hobby or action.\n5. **CROSS-NICHE EVENTS** - Niche combined with holidays/seasons (e.g., Christmas version).\n6. **CROSS-NICHE MASHUP** - Combining two distinct interests/topics (e.g., Gaming + Fishing).\n7. **ADDICTION/OBSESSION** - Exaggerated passion, \"I can't live without X\", \"Addict\".\n8. **VINTAGE/LEGACY** - \"Since [year]\", \"Est.\", tradition, retro vibes.\n9. **ACHIEVEMENT/GAMIFIED** - Certificates, \"Level Unlocked\", badges, rankings.\n10. **JOB/PROFESSION PARODY** - Humorous take on job titles, departments, or professional tasks.\n11. **RELATIONSHIP HUMOR** - Partner/family dynamics, \"Married to...\", domestic comedy.\n12. **BOUNDARY/GATEKEEPING** - Setting limits, saying \"No\", \"Don't talk to me\", protecting energy.\n13. **ENDURANCE/SURVIVAL** - \"I survived X\", perseverance, toughness, \"Still standing\".\n14. **COMPETENCE/EXPERTISE** - Skill flex, \"I fix things\", authority, \"Trust me I'm a...\".\n15. **CHAOS/CONTROL** - Managing mayhem, keeping order amidst disaster, \"Coordinator of Chaos\".\n16. **SELF-CARE/PRIORITIES** - Prioritizing self, \"My time\", protecting own peace/energy.\n\n---\n\n## STEP 6: THE VIBE\n\n**Combine Text + Visuals:**\n*If `visual_style` is \"Distressed/Grunge\", the vibe might be \"Gritty/Resilient\".*\n*If `visual_style` is \"Bright Cartoon\", the vibe might be \"Playful/High Energy\".*\n\n### Energy Level:\n- **High** (Exclamations, ALL CAPS, bright colors)\n- **Medium** (Conversational)\n- **Low** (Subtle, dry, minimal)\n\n### Attitude:\nSpecific psychological stance (e.g., \"Manic cheerfulness concealing stress\" or \"Stoic pride\").\n\n### Core Emotion:\nPrecise compound emotion (e.g., \"Frustration vented through absurdity\").\n\n---\n\n## STEP 7: SEMANTIC STRUCTURE & KEY ELEMENTS\n\nAnalyze the formula:\n- **Structural Template:** e.g., \"List of Commands + Hashtag\"\n- **Key Elements:** Identify 4-6 components (Power words, psychological hooks).\n\n---\n\n## STEP 8: ADAPTATION FORMULA\n\nCreate a transferrable formula.\n*Formula:* \"Structure [variable] + Context\"\n*Examples:* Provide 2-4 realistic adaptations for DIFFERENT niches.\n\n---\n\n## JSON OUTPUT FORMAT\n„Return ONLY valid JSON, no markdown, no leading or trailing text.“\n„Do not escape double quotes like \\\"text\\\" inside values. Just use normal JSON strings, e.g. \"I'm happy\".“\n\n{\n  \"original_slogan\": \"Exact text from input\",\n  \"customer_psychology\": {\n    \"buyer_profile\": \"Description of buyer reality\",\n    \"emotional_need\": \"The specific emotional itch this scratches\",\n    \"internal_monologue\": \"First-person voice (2-3 sentences)\",\n    \"what_they_cant_say_out_loud\": \"The unspoken truth\"\n  },\n  \"sentiment_analysis\": {\n    \"sentiment\": \"Positive / Neutral / Negative\",\n    \"primary_emotion\": \"Specific emotion\",\n    \"emotion_target\": \"Self / Others / General\",\n    \"confrontation_level\": \"Low / Medium / High\",\n    \"workplace_culture_required\": \"Culture Type\",\n    \"humor_style\": \"Humor Type\",\n    \"humor_function\": \"Defense / Pride\"\n  },\n  \"emotional_pattern\": \"Number: Pattern Name\",\n  \"vibe\": {\n    \"energy_level\": \"Low / Medium / High\",\n    \"attitude\": \"Psychological stance (incorporating visual style)\",\n    \"core_emotion\": \"Compound emotion\"\n  },\n  \"semantic_structure\": {\n    \"structural_template\": \"Formula representation\",\n    \"wordplay_type\": \"Type or 'None'\",\n    \"delivery_style\": \"Tone/Pacing description\"\n  },\n  \"key_elements\": [\n    \"Element 1\",\n    \"Element 2\",\n    \"Element 3\",\n    \"Element 4\"\n  ],\n  \"tone\": \"One sentence summary of the social environment\",\n  \"adaptation_formula\": \"Abstracted formula for reuse\",\n  \"adaptation_examples\": [\n    \"Niche: Slogan Example\",\n    \"Niche: Slogan Example\"\n  ],\n  \"transferability_notes\": {\n    \"works_best_in\": [\"Context 1\", \"Context 2\"],\n    \"avoid_in\": [\"Context where it fails\"],\n    \"critical_success_factors\": [\"Why it works\"]\n  }\n}"
            },
            {
              "content": "=slogan_text: {{ $json.body.slogan_text }},\n\nmeaning_context: {{ $json.body.meaning_context }},\n\nvisual_style: {{ $json.body.visual_style }},\n\ngraphic_elements: {{ $json.body.graphic_elements }},\n\nlayout_composition: {{ $json.body.layout_composition }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "schema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"results\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"original_slogan\": {\n            \"type\": \"string\",\n            \"description\": \"The exact text of the slogan analyzed.\"\n          },\n          \"customer_psychology\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"buyer_profile\": { \"type\": \"string\" },\n              \"emotional_need\": { \"type\": \"string\" },\n              \"internal_monologue\": { \"type\": \"string\" },\n              \"what_they_cant_say_out_loud\": { \"type\": \"string\" }\n            },\n            \"required\": [\n              \"buyer_profile\",\n              \"emotional_need\",\n              \"internal_monologue\",\n              \"what_they_cant_say_out_loud\"\n            ],\n            \"additionalProperties\": false\n          },\n          \"sentiment_analysis\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"sentiment\": {\n                \"type\": \"string\",\n                \"enum\": [\"Positive\", \"Neutral\", \"Negative\"]\n              },\n              \"primary_emotion\": { \"type\": \"string\" },\n              \"emotion_target\": {\n                \"type\": \"string\",\n                \"enum\": [\"Self\", \"Others\", \"General\"]\n              },\n              \"confrontation_level\": {\n                \"type\": \"string\",\n                \"enum\": [\"Low\", \"Medium\", \"High\"]\n              },\n              \"workplace_culture_required\": { \"type\": \"string\" },\n              \"humor_style\": { \"type\": \"string\" },\n              \"humor_function\": { \"type\": \"string\" }\n            },\n            \"required\": [\n              \"sentiment\",\n              \"primary_emotion\",\n              \"emotion_target\",\n              \"confrontation_level\",\n              \"workplace_culture_required\",\n              \"humor_style\",\n              \"humor_function\"\n            ],\n            \"additionalProperties\": false\n          },\n          \"emotional_pattern\": {\n            \"type\": \"string\",\n            \"description\": \"Format: 'Number: Pattern Name'\"\n          },\n          \"vibe\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"energy_level\": {\n                \"type\": \"string\",\n                \"enum\": [\"Low\", \"Medium\", \"High\"]\n              },\n              \"attitude\": { \"type\": \"string\" },\n              \"core_emotion\": { \"type\": \"string\" }\n            },\n            \"required\": [\"energy_level\", \"attitude\", \"core_emotion\"],\n            \"additionalProperties\": false\n          },\n          \"semantic_structure\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"structural_template\": { \"type\": \"string\" },\n              \"wordplay_type\": { \"type\": \"string\" },\n              \"delivery_style\": { \"type\": \"string\" }\n            },\n            \"required\": [\n              \"structural_template\",\n              \"wordplay_type\",\n              \"delivery_style\"\n            ],\n            \"additionalProperties\": false\n          },\n          \"key_elements\": {\n            \"type\": \"array\",\n            \"items\": { \"type\": \"string\" }\n          },\n          \"tone\": { \"type\": \"string\" },\n          \"adaptation_formula\": { \"type\": \"string\" },\n          \"adaptation_examples\": {\n            \"type\": \"array\",\n            \"items\": { \"type\": \"string\" }\n          },\n          \"transferability_notes\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"works_best_in\": {\n                \"type\": \"array\",\n                \"items\": { \"type\": \"string\" }\n              },\n              \"avoid_in\": {\n                \"type\": \"array\",\n                \"items\": { \"type\": \"string\" }\n              },\n              \"critical_success_factors\": {\n                \"type\": \"array\",\n                \"items\": { \"type\": \"string\" }\n              }\n            },\n            \"required\": [\n              \"works_best_in\",\n              \"avoid_in\",\n              \"critical_success_factors\"\n            ],\n            \"additionalProperties\": false\n          }\n        },\n        \"required\": [\n          \"original_slogan\",\n          \"customer_psychology\",\n          \"sentiment_analysis\",\n          \"emotional_pattern\",\n          \"vibe\",\n          \"semantic_structure\",\n          \"key_elements\",\n          \"tone\",\n          \"adaptation_formula\",\n          \"adaptation_examples\",\n          \"transferability_notes\"\n        ],\n        \"additionalProperties\": false\n      }\n    }\n  },\n  \"required\": [\"results\"],\n  \"additionalProperties\": false\n}\n",
              "description": "The response must be a JSON object containing one field named results. This field is an array of analysis objects. Each item in results represents the full analysis of a single slogan. Every analysis object must follow the defined schema: it includes the original slogan text, customer psychology, sentiment analysis, emotional pattern, vibe profile, semantic structure, key elements, adaptation formula, examples, and transferability notes. No additional fields are allowed. The root object must strictly contain only the results array."
            }
          },
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        1312,
        -96
      ],
      "id": "a5125a9b-4eee-4f8f-89c4-c16b5a574c1d",
      "name": "SLOGAN EMOTIONAL ANALYSIS",
      "credentials": {
        "openAiApi": {
          "id": "iuI2kkDx9MFU5nfW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "45fc247c-0a53-4603-bb09-c325c5fb14b7",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1056,
        -96
      ],
      "id": "ea56fc66-cee0-4d1f-95b7-b0db170ece9a",
      "name": "Webhook",
      "webhookId": "45fc247c-0a53-4603-bb09-c325c5fb14b7"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "wFOjzk89tQlC6oIh",
          "mode": "list",
          "cachedResultName": "00003SloganAnalyseCache",
          "cachedResultUrl": "/projects/yQqgITfWTvd1QuZo/datatables/wFOjzk89tQlC6oIh"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "contcractID": "={{ $execution.id }}",
            "result": "={{ JSON.stringify($json) }}",
            "execution_id": "={{ $('Webhook').item.json.body.execution_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "contcractID",
              "displayName": "contcractID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "result",
              "displayName": "result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2320,
        -176
      ],
      "id": "65ff74d1-e682-4c62-bcc9-60c07c9c5031",
      "name": "Insert row"
    },
    {
      "parameters": {
        "content": "## STEP2\n**SubWorkflow SLOGAN EMOTIONAL ANALYSIS**\nTradeMarks filtern",
        "height": 400,
        "width": 1904,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        -240
      ],
      "typeVersion": 1,
      "id": "1638f867-6cc1-421c-adf4-cdcae3c0592a",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        1728,
        752
      ],
      "id": "c8527264-b648-4dd2-863c-754a141792d8",
      "name": "Think",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "responseFormat": "json_object",
          "temperature": 0.3,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1328,
        736
      ],
      "id": "42e0647b-e968-4a0b-8a3d-b4d7478060ef",
      "name": "GPT",
      "credentials": {
        "openAiApi": {
          "id": "iuI2kkDx9MFU5nfW",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "SearXNG Web Search",
        "method": "POST",
        "url": "https://searxng.mariowinter.com/search",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Search web to validate niche terminology and community behavior. Verify if niche uses specific language or identifies with concepts.`, 'string') }}"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "time_range",
              "value": "year"
            },
            {
              "name": "image_proxy",
              "value": "True"
            },
            {
              "name": "timeout",
              "value": "10000"
            },
            {
              "name": "categories",
              "value": "general"
            },
            {
              "name": "engines",
              "value": "reddit, google, duckduckgo"
            }
          ]
        },
        "options": {
          "timeout": 10000
        },
        "optimizeResponse": true
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1600,
        752
      ],
      "id": "9b06c0ed-ef5f-4484-b4ea-df3f6d67f565",
      "name": "SearXNG",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Input Slogan and Image Analysis as JSON string:\n\n{{ $json.Analysis }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# NICHE IDENTITY EXTRACTION\n\n## ROLE DEFINITION & OBJECTIVE SETTING\n\nROLE: You are an expert **Print-on-Demand (PoD) Market Psychologist** and **Cultural Intelligence Analyst**. Your sole function is to process raw product data into a highly structured, actionable profile of a niche identity.\n\nMISSION: Extract the niche's core identity and emotional driver, build an aggregate emotional and conceptual profile based on all provided data, and output a **single, flawless JSON object** matching the required schema.\n\n---\n\n## TOOLS (AVAILABLE WORKFLOW UTILITIES)\n\n- SearXNG: For performing web searches. Used to retrieve external, current information and context about the niche.\n- Think: Used for internal, logical reasoning and the detailed application of analysis questions.\n- Simple Memory: Used for storing Think steps and relevant web search results for consistency.\n\n---\n\n## MANDATORY FORMAT & SYNTAX\n\n### Format Rules (Strict for Output Parser)\n1. SCHEMA IS LAW: You **MUST** produce a single JSON object that strictly matches the provided JSON Schema. Conflicts: **ALWAYS FOLLOW THE JSON SCHEMA**.\n2. CLEAN OUTPUT: Your entire output **must be the raw JSON object only**. **DO NOT** use Markdown, code fences, explanations, or conversational text.\n3. STRUCTURE: **DO NOT** wrap the JSON object in an array ([]) or an additional key (e.g., \"output\": {}). The output **MUST** start directly with { and end with }.\n\n---\n\n## INPUT DATA & CONCEPTS\n\n### Input Data\nYou receive the specific **Niche Name** and processed commercial product data, including **Original Slogan Data** (key metrics) and a detailed **Analysis** (JSON array of individual product designs).\n\nINFERENCE RULE: Infer all comprehensive insights across **ALL entries** in the \"Analysis\" array and Original Slogan Data.\n\n### Concept Patterns (16)\nYou **must** analyze the product data against the following 16 patterns: IDENTITY DECLARATION, GROUP LEADER, TRIBE/COMMUNITY, FUNNY ACTIVITY, CROSS-NICHE EVENTS, CROSS-NICHE MASHUP, ADDICTION/OBSESSION, VINTAGE/LEGACY, ACHIEVEMENT/GAMIFIED, JOB/PROFESSION PARODY, RELATIONSHIP HUMOR, BOUNDARY/GATEKEEPING, ENDURANCE/SURVIVAL, COMPETENCE/EXPERTISE, CHAOS/CONTROL, SELF-CARE/PRIORITIES. These patterns **must** be aggregated and reported in the JSON.\n\n---\n\n## EXECUTION STEPS (ANALYSIS PROCESS)\n\n### STEP 1: NICHE CONTEXT BUILDING (MANDATORY TOOL EXECUTION)\nEXECUTION PRIORITY: Before any internal reasoning (STEP 2), you **MUST** call the **SearXNG** tool to retrieve external, real-world context on the niche. **ABSOLUTELY DO NOT** proceed without a successful tool call result.\n\n- Mandatory Queries: You MUST generate 3 distinct, high-impact queries tailored to the niche. Use patterns like:\n  1. \"[niche] culture slang frustrations memes\" (To capture humor and language)\n  2. \"day in the life of a [niche] reddit\" (To find authentic stories and emotional reality)\n  3. \"ultimate guide to [niche] lifestyle terminology\" (To find technical terms and symbols)\n  4. \"[niche] stereotypes vs reality\" (To understand the external vs. internal view)\n- Use the returned tool data as the foundation for the entire analysis.\n\n### STEP 2: NICHE IDENTITY EXTRACTION (INTERNAL REASONING / THINK)\nReason internally (use Think) about:\n- The niche's self-view, core emotion, and communication style.\n- Conflict points and public perception.\n- Deep Analysis (Your Questions):\n  - **Target Audience:** Who is the primary target audience (e.g., men/women, age, motivation)?\n  - **Emotionality:** How harsh/distinct is the emotion? Look for hard, striking statements.\n  - **Longevity:** Are the designs too old and are new designs failing to sell?\n  - **Pattern Mapping:** Before generating the JSON, mentally group the top 5 slogans from the input data under their respective Patterns to ensure the final JSON context is data-backed.\n\n### STEP 3: DATA AGGREGATION & INTERPRETATION\n1. EMOTIONAL MAPPING: Aggregate the overall Sentiment (Positive / Neutral / Negative) and the dominant primary_emotions.\n2. PATTERN ANALYSIS: For each of the 16 patterns, determine presence (present: true/false).\n   - **CRITICAL INSTRUCTION:** The 'context' field MUST be **evidence-based**.\n   - **Do not just say** \"Humor is used.\"\n   - **Instead say:** \"Active through slogans like 'Don't make me use my teacher voice', which uses the 'JOB/PROFESSION PARODY' pattern to transform stressful authority into a shared inside joke.\"\n   - If a pattern is NOT present, explicitly state: \"No slogans found matching this mechanism.\"\n   - Market Analysis (Your Questions):\n     - **Concepts & Strength:** What are the concepts being sold? Does the design with the concept have good ratings (Strength of Emotion)?\n     - **Market Validation:**\n       - Write down keywords that are niche-specific. Also identify 1-2 potential 'Cross-Niche' opportunities (e.g. traits shared with other professions) to allow future design adaptation.\n\n3. NICHE INTERPRETATION:\n - **emotional_reality (Must reflect the niche's emotional harshness):** Determine the core emotional value customers are buying. This summary **MUST** reflect the answer to the question \"How harsh/distinct is the emotion?\".\n - **design_concepts (Must reflect target audience and positioning):** Determine how designs position the wearer and dominant visual concepts. This summary **MUST** include the primary target audience and the desired positioning (Hero, Rebel, etc.).\n - **VISUAL ANALYSIS:** Extract dominant design elements, font categories (e.g., Retro Script, Bold Sans), vector types (e.g., Grunge Texture, Line Art), and color schemes.\n - Context Understanding (Your Questions): Understand the context of the design concept's emotion (Question: Why exactly this?). Find and understand specialized terms (e.g., \"CDL Toting\") to explain the concept (e.g., Belonging).\n\n### STEP 4: ARCHETYPE MAPPING\nDetermine 1–2 archetypes (Innocent, Sage, Explorer, Ruler, Creator, Caregiver, Magician, Hero, Rebel, Lover, Jester, Everyman/Orphan).\n\n### STEP 5: FINAL JSON OUTPUT (MANDATORY)\nFill the JSON object strictly following these content rules:\n- niche_summary: A concise sentence string, including the sentiment and dominant emotional target.\n- sentiment: STRICTLY one of \"Positive\", \"Neutral\", or \"Negative\".\n- primary_emotions: Array of 3-5 strings (single words, no objects).\n- emotional_archetype: Array of strings (e.g. \"Hero\", \"Rebel\").\n- example_keywords: Array of lowercase strings, no sentences/punctuation.\n- pattern_analysis: Array must contain exactly one object per pattern (16 total).\n- **emotional_reality:** STRICTLY single-line string summarizing **what customers are truly buying emotionally**, including the **core emotion and its intensity** (e.g., 'An intense sense of community', 'A quiet expression of defiance').\n- **design_concepts:** STRICTLY single-line string summarizing **dominant design themes, target audience, and identity positioning**.\n- **dominant_design_aesthetics:** STRICTLY single-line string that summarizes the key **colors, fonts, vectors/illustrations, and layout patterns**.\n\n### CONSTRAINTS (Final Check)\n- Return **exactly ONE** raw JSON object.\n- **STRICTLY NO LINE BREAKS (\\n)** within any string values.\n- Base all conclusions strictly on: niche name, Analysis JSON, Original Slogan Data, and the **SearXNG** tool results.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1536,
        384
      ],
      "id": "23ee39ff-893e-492c-8793-a4ac34ed6f43",
      "name": "Niche Analyse",
      "alwaysOutputData": false,
      "executeOnce": false,
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "key"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1456,
        752
      ],
      "id": "ce5573aa-527f-4026-9a9e-fd19171600b2",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\n    \"niche_summary\",\n    \"sentiment\",\n    \"primary_emotions\",\n    \"emotional_archetype\",\n    \"example_keywords\",\n    \"pattern_analysis\",\n    \"emotional_reality\",\n    \"design_concepts\",\n    \"dominant_design_aesthetics\"\n  ],\n  \"properties\": {\n    \"niche_summary\": {\n      \"type\": \"string\",\n      \"description\": \"A concise summary of the niche, its sentiment, and its emotional target.\"\n    },\n    \"sentiment\": {\n      \"type\": \"string\",\n      \"description\": \"The dominant feeling of the niche (positive, negative, neutral).\"\n    },\n    \"primary_emotions\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"description\": \"The 3-5 primary emotions involved (e.g., joy, pride, anger).\"\n    },\n    \"emotional_archetype\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"description\": \"The most relevant emotional archetypes being addressed (e.g., Rebel, Hero, Caregiver).\"\n    },\n    \"example_keywords\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"description\": \"5-7 concrete keywords and phrases for design ideas.\"\n    },\n    \"pattern_analysis\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"required\": [\n          \"name\",\n          \"present\",\n          \"context\"\n        ],\n        \"properties\": {\n          \"name\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"IDENTITY DECLARATION\",\n              \"GROUP LEADER\",\n              \"TRIBE/COMMUNITY\",\n              \"FUNNY ACTIVITY\",\n              \"CROSS-NICHE EVENTS\",\n              \"CROSS-NICHE MASHUP\",\n              \"ADDICTION/OBSESSION\",\n              \"VINTAGE/LEGACY\",\n              \"ACHIEVEMENT/GAMIFIED\",\n              \"JOB/PROFESSION PARODY\",\n              \"RELATIONSHIP HUMOR\",\n              \"BOUNDARY/GATEKEEPING\",\n              \"ENDURANCE/SURVIVAL\",\n              \"COMPETENCE/EXPERTISE\",\n              \"CHAOS/CONTROL\",\n              \"SELF-CARE/PRIORITIES\"\n            ],\n            \"description\": \"The exact name of the design pattern being analyzed.\"\n          },\n          \"present\": {\n            \"type\": \"boolean\",\n            \"description\": \"True if this pattern is actively used in the niche, otherwise false.\"\n          },\n          \"context\": {\n            \"type\": \"string\",\n            \"description\": \"A detailed explanation (2-3 sentences) citing specific slogan examples from the input data and explaining the underlying emotional need. If present is false, explain why it is missing.\"\n          }\n        }\n      },\n      \"description\": \"A comprehensive analysis of all 16 design patterns, determining their presence and context within the niche.\"\n    },\n    \"emotional_reality\": {\n      \"type\": \"string\",\n      \"description\": \"A single-line summary of what customers are truly buying emotionally, including the core emotion and its intensity (e.g., 'An intense sense of community', 'A quiet expression of defiance').\"\n    },\n    \"design_concepts\": {\n      \"type\": \"string\",\n      \"description\": \"A summary of the dominant design themes, the specific target audience, and the wearer's identity positioning (e.g., 'Retro badges for veteran bus drivers positioning them as everyday heroes').\"\n    },\n    \"dominant_design_aesthetics\": {\n      \"type\": \"string\",\n      \"description\": \"The aggregated summary of key colors, font categories, vector types, and layout patterns.\"\n    }\n  }\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1776,
        592
      ],
      "id": "8ea486e8-8bd6-445f-a2d9-a989eecf8313",
      "name": "Structured Output Parser1",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## STEP3\n**NICHE IDENTITY EXTRACTION**",
        "height": 784,
        "width": 1328,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        160
      ],
      "typeVersion": 1,
      "id": "1961a769-6df2-498f-93ea-4d03bda24028",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8f1d7127-450a-4442-a022-39741b349239",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1216,
        -544
      ],
      "id": "8b5d93cd-9215-4232-8c90-4cd8d4a7294d",
      "name": "Webhook1",
      "webhookId": "8f1d7127-450a-4442-a022-39741b349239"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "wFOjzk89tQlC6oIh",
          "mode": "list",
          "cachedResultName": "00003SloganAnalyseCache",
          "cachedResultUrl": "/projects/yQqgITfWTvd1QuZo/datatables/wFOjzk89tQlC6oIh"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "contcractID": "={{ $execution.id }}",
            "result": "={{ JSON.stringify($json) }}",
            "execution_id": "={{ $('Webhook1').item.json.body.execution_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "contcractID",
              "displayName": "contcractID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "result",
              "displayName": "result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2112,
        -560
      ],
      "id": "19f51653-8963-4a21-bd8f-9256082c10be",
      "name": "Insert row1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"openai/gpt-4.1-mini\",\n  \"temperature\": 0.3,\n  \"top_p\": 1,\n  \"messages\": [\n      {\n      \"role\": \"system\",\n        \"content\": \"# T-SHIRT DESIGN ANALYSIS ## Instructions ###Design Analysis 1. **slogan_text:** Transcribe text exactly (preserve spelling/lines). 2. **meaning_context:** Explain the joke, wordplay, cultural reference (e.g., song lyrics), or niche connection. Why is it funny? 3. **visual_style:** Describe the aesthetic (e.g., Cartoon, Retro, Grunge), the vibe (e.g., Playful, Aggressive), and the color palette. 4. **graphic_elements:** Describe the main motif, typography details (font style, color), and decorative elements (lines, distressing). 5. **layout_composition:** Describe the structure (e.g., Sandwich layout), alignment, and visual hierarchy. ## Output Format Return ONLY valid JSON. No markdown formatting, no conversational text. ## JSON Schema { \\\"slogan_text\\\": \\\"string\\\", \\\"meaning_context\\\": \\\"string\\\", \\\"visual_style\\\": \\\"string\\\", \\\"graphic_elements\\\": \\\"string\\\", \\\"layout_composition\\\": \\\"string\\\" } ## Example Output { \\\"slogan_text\\\": \\\"THEY SEE ME ROLLIN' THEY WAITIN'\\\", \\\"meaning_context\\\": \\\"Pun on Chamillionaire's song 'Ridin' ('They see me rollin', they hatin''). 'Hatin'' is replaced by 'Waitin'', referencing kids waiting for the school bus. Turns a gangster rap lyric into a wholesome bus driver joke.\\\", \\\"visual_style\\\": \\\"Hand-drawn doodle/cartoon style. Friendly and playful vibe. High contrast yellow/white on black.\\\", \\\"graphic_elements\\\": \\\"Main motif: Stylized yellow school bus at a dynamic angle. Typography: 'ROLLIN' and 'WAITIN' in large yellow bubble letters; other text in thin white handwritten sans-serif. Decor: Motion lines/accents around the bus.\\\", \\\"layout_composition\\\": \\\"Classic sandwich layout (Text-Image-Text). Center aligned. Visual focus is on the yellow keywords and the bus.}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"input_text\",\n          \"text\": \"**Task:** Analyze the provided T-shirt image from the niche: {{ $json.body.niche }}, brand: {{ $json.body.brand }}, title: {{ $json.body.title }} and output a strict JSON object.\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": \"{{ $json.body.thumbnailImage }}\"\n        }\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1408,
        -544
      ],
      "id": "ec469fce-03a8-43ea-8e0c-54d04a7b2bba",
      "name": "Analyse image OpenRouter",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "// Code Node in n8n\n// Erwartet: item.json.choices[0].message.content = JSON-String (vom OpenAI-Node)\n// Liefert: für jedes Item ein geparstes JSON-Objekt, in dem alle \"\\n\" in Strings durch \" \" ersetzt wurden\n\nfunction replaceNewlinesInStrings(value) {\n  if (typeof value === 'string') {\n    // alle echten Zeilenumbrüche durch Leerzeichen ersetzen\n    return value.replace(/\\n/g, ' ');\n  }\n\n  if (Array.isArray(value)) {\n    return value.map(replaceNewlinesInStrings);\n  }\n\n  if (value !== null && typeof value === 'object') {\n    const out = {};\n    for (const key of Object.keys(value)) {\n      out[key] = replaceNewlinesInStrings(value[key]);\n    }\n    return out;\n  }\n\n  // Zahlen, Booleans, null, etc. unverändert zurückgeben\n  return value;\n}\n\nfunction parseContentToJson(raw) {\n  if (!raw || typeof raw !== 'string') {\n    throw new Error('No valid content to parse');\n  }\n\n  let text = raw.trim();\n\n  // Optional: Codefences entfernen, falls das Modell ```json ... ``` zurückgibt\n  if (text.startsWith('```')) {\n    text = text.replace(/^```[a-zA-Z]*\\s*/, '').replace(/```$/, '').trim();\n  }\n\n  const parsed = JSON.parse(text);\n\n  // alle \"\\n\" in Strings innerhalb des Objekts ersetzen\n  return replaceNewlinesInStrings(parsed);\n}\n\n// Alle Items verarbeiten\nconst out = items.map((item) => {\n  const raw = item.json.choices[0].message.content; // Pfad ggf. anpassen\n  const parsed = parseContentToJson(raw);\n\n  // Nur das geparste JSON weitergeben\n  /*\n  return {\n    json: parsed,\n  };\n  */\n  // Wenn du zusätzlich Originaldaten behalten willst:\n  \n  return {\n    json: {\n      ...$('Webhook1').first().json.body,\n      ...parsed,\n    },\n  };\n  \n});\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        -544
      ],
      "id": "5f789096-040d-433e-afc4-b08dbe0e2a61",
      "name": "JsonParse"
    },
    {
      "parameters": {
        "content": "## STEP1 - Subworkflow0003\n**T-SHIRT DESIGN ANALYSIS**",
        "height": 416,
        "width": 1328,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        -656
      ],
      "typeVersion": 1,
      "id": "b2b7f838-da44-4f7b-bdaa-4efdeaf30920",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "return {\n  \"slogan_analysis\": {\n    ...$('SLOGAN EMOTIONAL ANALYSIS').first().json.output[0].content[0].text.results[0],\n    ...$input.first().json.output[0].content[0].text\n  },\n  \"image_analysis\": {...$('Webhook').first().json.body}\n}\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2112,
        -96
      ],
      "id": "9a562700-dc49-4601-a8bb-145534ec7b87",
      "name": "JsonParser"
    },
    {
      "parameters": {
        "inputText": "=check brand: {{ $json.brand }} or title: {{ $json.title }} or slogan text: {{ $json.slogan_text }} or meaning_context {{ $json.meaning_context }}\n--------\nfits to niche: {{ $json.niche }}",
        "options": {
          "categories": "Positive, Negative",
          "systemPromptTemplate": "=You are a print-on-demand research expert.\nCategorize the input into one of the following categories: {categories}.\nReturn a JSON object\n",
          "includeDetailedResults": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1.1,
      "position": [
        1760,
        -544
      ],
      "id": "05edf237-bb95-48da-b103-fc66a1ff45e1",
      "name": "Sentiment Analysis"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "responsesApiEnabled": false,
        "options": {
          "responseFormat": "json_object",
          "temperature": 0.3,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1760,
        -384
      ],
      "id": "5c4db9ce-bb13-47d3-8a20-44676ea278b1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "iuI2kkDx9MFU5nfW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "ysvZnTo6JY1GvIe7",
          "mode": "list",
          "cachedResultName": "00002ProductDataAnalyses",
          "cachedResultUrl": "/projects/yQqgITfWTvd1QuZo/datatables/ysvZnTo6JY1GvIe7"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "asin",
              "keyValue": "={{ $json.image_analysis.asin }}"
            },
            {
              "keyName": "niche",
              "keyValue": "={{ $json.image_analysis.niche }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "asin": "={{ $json.image_analysis.asin }}",
            "rate": "={{ $json.image_analysis.rate }}",
            "reviewsCount": "={{ $json.image_analysis.reviewsCount }}",
            "niche": "={{ $json.image_analysis.niche }}",
            "slogan_text": "={{ $json.image_analysis.slogan_text }}",
            "image": "={{ $json.image_analysis.image }}",
            "brand": "={{ $json.image_analysis.brand }}",
            "title": "={{ $json.image_analysis.title }}",
            "url": "={{ $json.image_analysis.url }}",
            "meaning_context": "={{ $json.image_analysis.meaning_context }}",
            "visual_style": "={{ $json.image_analysis.visual_style }}",
            "graphic_elements": "={{ $json.image_analysis.graphic_elements }}",
            "layout_composition": "={{ $json.image_analysis.layout_composition }}",
            "transferability_notes": "={{ $json.slogan_analysis.transferability_notes.toJsonString() }}",
            "customer_psychology": "={{ $json.slogan_analysis.customer_psychology.toJsonString() }}",
            "sentiment_analysis": "={{ $json.slogan_analysis.sentiment_analysis.toJsonString() }}",
            "emotional_pattern": "={{ $json.slogan_analysis.emotional_pattern }}",
            "vibe": "={{ $json.slogan_analysis.vibe.toJsonString() }}",
            "semantic_structure": "={{ $json.slogan_analysis.semantic_structure.toJsonString() }}",
            "key_elements": "={{ $json.slogan_analysis.key_elements.toJsonString() }}",
            "tone": "={{ $json.slogan_analysis.tone }}",
            "adaptation_formula": "={{ $json.slogan_analysis.adaptation_formula }}",
            "adaptation_examples": "={{ $json.slogan_analysis.adaptation_examples.toJsonString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "niche",
              "displayName": "niche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "slogan_text",
              "displayName": "slogan_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "asin",
              "displayName": "asin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "brand",
              "displayName": "brand",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "rate",
              "displayName": "rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reviewsCount",
              "displayName": "reviewsCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "bullet1",
              "displayName": "bullet1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "bullet2",
              "displayName": "bullet2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "meaning_context",
              "displayName": "meaning_context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "visual_style",
              "displayName": "visual_style",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "graphic_elements",
              "displayName": "graphic_elements",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "layout_composition",
              "displayName": "layout_composition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "transferability_notes",
              "displayName": "transferability_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customer_psychology",
              "displayName": "customer_psychology",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sentiment_analysis",
              "displayName": "sentiment_analysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "emotional_pattern",
              "displayName": "emotional_pattern",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "vibe",
              "displayName": "vibe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "semantic_structure",
              "displayName": "semantic_structure",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "key_elements",
              "displayName": "key_elements",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tone",
              "displayName": "tone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "adaptation_formula",
              "displayName": "adaptation_formula",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "adaptation_examples",
              "displayName": "adaptation_examples",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "dryRun": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2320,
        -32
      ],
      "id": "c8054113-234a-4bac-9a02-b45640be9f83",
      "name": "Upsert row(s)"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    \"slogan_analysis\": {\n      \"original_slogan\": \"PRO-GUN 1776 We The People ANTI-IDIOT\",\n      \"customer_psychology\": {\n        \"buyer_profile\": \"A politically engaged American who strongly supports gun rights and identifies deeply with patriotic and constitutional values. Likely feels under siege by opposing views and desires to assert their identity and beliefs unapologetically.\",\n        \"emotional_need\": \"To express pride in American heritage and gun ownership while defending against perceived ignorance and opposition. The slogan satisfies a need for validation, belonging to a patriotic tribe, and setting firm boundaries against detractors.\",\n        \"internal_monologue\": \"I'm a proud defender of the Constitution and gun rights in a world that often misunderstands me. This shirt lets me wear my patriotism and stance boldly, giving me permission to reject ignorance without hesitation. It validates my identity and signals to others where I stand, even if I can't always voice it openly.\",\n        \"what_they_cant_say_out_loud\": \"I see many people as uninformed or foolish when it comes to gun rights, and I want to protect my beliefs fiercely without engaging in endless debates.\"\n      },\n      \"sentiment_analysis\": {\n        \"sentiment\": \"Positive\",\n        \"primary_emotion\": \"Defiance\",\n        \"emotion_target\": \"Others\",\n        \"confrontation_level\": \"High\",\n        \"workplace_culture_required\": \"Gatekeeping\",\n        \"humor_style\": \"Blunt\",\n        \"humor_function\": \"Defense\"\n      },\n      \"emotional_pattern\": \"12: BOUNDARY/GATEKEEPING\",\n      \"vibe\": {\n        \"energy_level\": \"High\",\n        \"attitude\": \"Militant pride with rugged rebelliousness\",\n        \"core_emotion\": \"Defiant patriotism mixed with frustration toward opposition\"\n      },\n      \"semantic_structure\": {\n        \"structural_template\": \"[Pro-identity statement] + [Historical reference] + [Inclusive founding phrase] + [Boundary statement]\",\n        \"wordplay_type\": \"None\",\n        \"delivery_style\": \"Direct, bold, and confrontational with vintage ruggedness\"\n      },\n      \"key_elements\": [\n        \"Pro-gun declaration\",\n        \"Historical year '1776'\",\n        \"Constitutional phrase 'We The People'\",\n        \"Dismissive term 'ANTI-IDIOT'\"\n      ],\n      \"tone\": \"A confrontational and proud expression of political identity that demands respect and sets clear boundaries.\",\n      \"adaptation_formula\": \"[Strong ideological stance] + [Historical or cultural reference] + [Inclusive identity phrase] + [Dismissive or boundary-setting term]\",\n      \"adaptation_examples\": [\n        \"Niche: Environmentalist 1776 We The People ANTI-POLLUTER\",\n        \"Niche: Vegan 1776 We The People ANTI-CARNIVORE\",\n        \"Niche: Gamer 1776 We The People ANTI-NOOB\"\n      ],\n      \"transferability_notes\": {\n        \"works_best_in\": [\n          \"Political activism apparel\",\n          \"Patriotic and gun rights communities\",\n          \"Environments valuing bold ideological expression\"\n        ],\n        \"avoid_in\": [\n          \"Neutral or corporate settings\",\n          \"Contexts requiring diplomatic or inclusive language\"\n        ],\n        \"critical_success_factors\": [\n          \"Clear and strong ideological positioning\",\n          \"Use of iconic historical references for legitimacy\",\n          \"Bold visual style reinforcing the message\",\n          \"Humor or bluntness that resonates with in-group members\"\n        ]\n      }\n    },\n    \"image_analysis\": {\n      \"slogan_text\": \"PRO-GUN 1776 We The People ANTI-IDIOT\",\n      \"meaning_context\": \"The shirt expresses a strong pro-gun stance, linking gun rights to American patriotism and the founding principles of the United States, referencing the year 1776 and the Constitution's preamble 'We The People.' The phrase 'ANTI-IDIOT' implies opposition to those perceived as ignorant or opposed to gun rights. The combination is meant to assert a political and cultural identity.\",\n      \"visual_style\": \"Bold, distressed vintage style with a patriotic and militant vibe. The color palette is primarily red, white, and blue with a worn, grunge texture to evoke a rugged, rebellious feel.\",\n      \"graphic_elements\": \"Main motif includes a stylized American flag with 13 stars in a circle and vertical stripes, a detailed illustration of a modern rifle integrated into the flag design, and the text in bold, distressed white font. 'We The People' is written in a script font reminiscent of the Constitution's calligraphy. The overall design uses a weathered effect to suggest toughness and tradition.\",\n      \"layout_composition\": \"Vertical layout with the flag and rifle forming the central visual element. Text is positioned above and below the flag graphic, creating a balanced sandwich structure. The alignment is centered, with 'PRO-GUN' at the top, '1776' and 'We The People' integrated into the flag, and 'ANTI-IDIOT' at the bottom, establishing a clear visual hierarchy emphasizing the pro-gun message.\",\n      \"brand\": \"Pro Gun Anti Idiot Shirt\",\n      \"title\": \"Vintage USA Flag 2nd Amendment T-Shirt\",\n      \"asin\": \"B0BF944HPY\",\n      \"url\": \"https://www.amazon.com/Pro-Gun-Anti-Idiot-Amendment/dp/B0BF944HPY/ref=sr_1_43\",\n      \"rate\": 4.8,\n      \"reviewsCount\": 31,\n      \"thumbnailImage\": \"https//\",\n      \"niche\": \"hanniball\",\n      \"execution_id\": \"7507\"\n    }\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        -48
      ],
      "id": "6d7d0ac0-4b09-4b37-866e-71c251624a54",
      "name": "DataMock",
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=Analyze this product for trademark violations:\n\nTitle: {{ $('Webhook').item.json.body.title }}\nBrand: {{ $('Webhook').item.json.body.brand }}\n\nCheck against: Disney, Marvel, Nike, Adidas, Coca-Cola, etc.\n\nReturn JSON object: {\n\n\"hasTrademark\": boolean,\n\"detectedBrands\": [],\n\"riskLevel\": \"low/medium/high\",\n\"recommendation\": \"allow/review/block\"\n}"
            }
          ]
        },
        "simplify": false,
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          },
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1664,
        -96
      ],
      "id": "b6fd8052-abaa-4b5d-8155-38ff5534a1b1",
      "name": "TM CHECK",
      "credentials": {
        "openAiApi": {
          "id": "iuI2kkDx9MFU5nfW",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "SLOGAN EMOTIONAL ANALYSIS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SLOGAN EMOTIONAL ANALYSIS": {
      "main": [
        [
          {
            "node": "TM CHECK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Niche Analyse",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT": {
      "ai_languageModel": [
        [
          {
            "node": "Niche Analyse",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SearXNG": {
      "ai_tool": [
        [
          {
            "node": "Niche Analyse",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Niche Analyse",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Niche Analyse",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Analyse image OpenRouter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Niche Analyse": {
      "main": [
        []
      ]
    },
    "Analyse image OpenRouter": {
      "main": [
        [
          {
            "node": "JsonParse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JsonParse": {
      "main": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JsonParser": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        [
          {
            "node": "Insert row1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)": {
      "main": [
        []
      ]
    },
    "DataMock": {
      "main": [
        []
      ]
    },
    "TM CHECK": {
      "main": [
        [
          {
            "node": "JsonParser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "saveDataSuccessExecution": "all"
  },
  "versionId": "df3a4d62-b442-4369-ac98-79872fb1694e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "255ce5f2aa1250d50d62e1df7820878347771b477657ea3db630f142d3a80eed"
  },
  "id": "UoV0YTNSwkxMcnRf",
  "tags": []
}