n8n-workflow/slogan-generation/00002-SloganCreateV2.json
{
  "name": "00002-SloganCreateV2",
  "nodes": [
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"target_niche\": \"\",\n  \"original_slogan_reference\": \"\",\n  \"slogans\": [\n    {\n      \"slogan_text\": \"YOUR ADAPTED SLOGAN HERE\",\n      \"creative_modules_used\": [\"module1\", \"module2\"],\n      \"emotional_archetype\": \"Fighter/Jester/Rebel/Sage\",\n      \"buyer_voice_pattern\": \"HELL YEAH I... / MY... / etc.\",\n      \"stylistic_device\": \"exaggeration/irony/contrast/etc.\",\n      \"pattern_used\": \"Number: Pattern Name\",\n      \"why_it_works\": \"Brief explanation of niche-authenticity\",\n      \"market_confidence\": \"High / Medium / Low\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -448,
        320
      ],
      "id": "4bb58550-ba80-44ee-8ac1-890e3ece85d3",
      "name": "Structured Output Parser",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9126baff-98b7-40cd-9b3d-f34406bbb96a",
              "leftValue": "={{ $json.output.quality_gate }}",
              "rightValue": "PROCEED",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1552,
        736
      ],
      "id": "b6007f9c-5124-4c3c-a6b4-a6100b3d64eb",
      "name": "Filter9"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "=analyses",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1312,
        736
      ],
      "id": "77476cd7-0746-4a8a-ba1d-9d6bec9ec2f8",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "content": "# Slogan creation\n### Tbh, don´t know what to add here. This is where the slogans are made, just make sure we get 5 Slogans for each niche and that AI is simultaneously picking the best pick aswell.",
        "height": 1216,
        "width": 912,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -912,
        480
      ],
      "id": "b4f7bd73-daa8-453c-b8eb-0760ad851355",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Amazon Live Product Search Scraping \n",
        "height": 640,
        "width": 864
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3440,
        560
      ],
      "typeVersion": 1,
      "id": "c0b61c94-efac-4e0f-bc16-a21563b3408e",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4b23db6c-e9bc-4266-8f6d-79a10513a428",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3632,
        736
      ],
      "id": "f5760a08-5cb5-4ff6-877c-103091029553",
      "name": "Webhook1",
      "webhookId": "4b23db6c-e9bc-4266-8f6d-79a10513a428"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "hB5A3yVDEvwekC96",
          "mode": "list",
          "cachedResultName": "00002SlogenGenCache",
          "cachedResultUrl": "/projects/yQqgITfWTvd1QuZo/datatables/hB5A3yVDEvwekC96"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "execution_id",
              "keyValue": "={{ $execution.id }}"
            }
          ]
        },
        "returnAll": true
      },
      "id": "e6e8a649-d284-47c9-955d-82ad8aa417c7",
      "name": "Get current data for polling1",
      "type": "n8n-nodes-base.dataTable",
      "maxTries": 5,
      "position": [
        -2208,
        944
      ],
      "executeOnce": false,
      "notesInFlow": false,
      "retryOnFail": false,
      "typeVersion": 1,
      "alwaysOutputData": false,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "execution_id"
            }
          ]
        },
        "options": {}
      },
      "id": "5d2da7fc-5f85-4726-a2da-62e51ccc4220",
      "name": "Extract IDs1",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        -2112,
        944
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "hB5A3yVDEvwekC96",
          "mode": "list",
          "cachedResultName": "00002SlogenGenCache",
          "cachedResultUrl": "/projects/yQqgITfWTvd1QuZo/datatables/hB5A3yVDEvwekC96"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "execution_id",
              "keyValue": "={{ $execution.id }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1840,
        736
      ],
      "id": "ed9a3f08-f3fa-4f1d-9fc3-f0d98e17cdd0",
      "name": "Get all SloganAnalyses1"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "hB5A3yVDEvwekC96",
          "mode": "list",
          "cachedResultName": "00002SlogenGenCache",
          "cachedResultUrl": "/projects/yQqgITfWTvd1QuZo/datatables/hB5A3yVDEvwekC96"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "result",
              "condition": "isNotEmpty"
            },
            {
              "keyName": "execution_id",
              "keyValue": "={{ $execution.id }}"
            }
          ]
        },
        "options": {
          "dryRun": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1744,
        736
      ],
      "id": "41f43782-c63a-4ddc-9379-733e9f05e978",
      "name": "Clean cache1"
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "14319c95-ee70-4817-96a5-adb994e88c09",
      "name": "Wait 5s",
      "type": "n8n-nodes-base.wait",
      "position": [
        -1840,
        960
      ],
      "webhookId": "b0d9c1f9-a936-4a01-bd61-ea6a9952031d",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => ({\n  json: {\n    ...JSON.parse(item.json.result),\n    image: item.json.image,\n    url: item.json.url\n      }\n}));\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1648,
        736
      ],
      "id": "734838d6-855d-4dbb-8b2c-2e4891275b97",
      "name": "JsonParser"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2528,
        960
      ],
      "id": "02873ab3-bbfd-41e6-aad4-566e8f4e376c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "9b2069cc-152e-490e-8c87-3687f24d350c",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "leftValue": "={{ $json.execution_id.length }}",
              "rightValue": "={{ $('MergeProductAnalysis').all().length }}"
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "72d2a847-3e20-4084-aa4a-a8316b88d5de",
      "name": "If all data exists",
      "type": "n8n-nodes-base.if",
      "position": [
        -2016,
        944
      ],
      "executeOnce": false,
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "## Start Step3",
        "height": 640,
        "width": 272,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3712,
        560
      ],
      "typeVersion": 1,
      "id": "7166a278-3e04-407d-b1c6-474b239f77d5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Call Step4\n1. TEXT EXTRACTION FROM T-SHIRT IMAGE\n2. NICHE IDENTITY EXTRACTION & COMPATIBILITY ANALYSIS SYSTEM",
        "height": 640,
        "width": 1088,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2576,
        560
      ],
      "typeVersion": 1,
      "id": "e6f5aadd-09a8-48f1-a447-eac83850616f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "185MFgmkKUi1fYGgR_BeN1twUvNAOQ6FX9QW5tL2SllM",
          "mode": "list",
          "cachedResultName": "DESIGN DATA (ALL DESIGNERS)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/185MFgmkKUi1fYGgR_BeN1twUvNAOQ6FX9QW5tL2SllM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 721726207,
          "mode": "list",
          "cachedResultName": "newSlogans",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/185MFgmkKUi1fYGgR_BeN1twUvNAOQ6FX9QW5tL2SllM/edit#gid=721726207"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "niche": "={{ $json.target_niche }}",
            "origin slogan": "={{ $json.original_slogan_reference }}",
            "slogans": "={{ $json.slogan_texts }}",
            "images": "={{ $json.images }}",
            "urls": "={{ $json.urls }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "niche",
              "displayName": "niche",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "slogans",
              "displayName": "slogans",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "origin slogan",
              "displayName": "origin slogan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "images",
              "displayName": "images",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "urls",
              "displayName": "urls",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        384,
        640
      ],
      "id": "443451dd-c7e9-4b1f-b63d-65d746e7f5f7",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9w5yk9PJDGuuRoGB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "listId": "5f357668fcd9228b9f6351b9",
        "name": "=[AI] {{ $json.target_niche }} - {{ $json.original_slogan_reference }}",
        "description": "=##AI-generated slogans:\n\n{{ $json.slogan_texts }}\n\n---\n\n##Niche Profile:\n\n###Summary\n{{ $json.niche_profile.niche_summary }}\n\n###Emotional Reality\n{{ $json.niche_profile.emotional_reality }}\n\n###Design Concepts\n{{ $json.niche_profile.design_concepts }}\n\n###Dominat Design Aesthetics\n{{ $json.niche_profile.dominant_design_aesthetics }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        624,
        752
      ],
      "id": "1e697979-1945-42a6-8a9c-211891a9a64e",
      "name": "Create a card",
      "executeOnce": false,
      "credentials": {
        "trelloApi": {
          "id": "9Xjoh3ECou5fZJUc",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prodURLs = $('prepareforLLM1').first().json.reference_patterns;\nconst allImages = prodURLs.map(ref => ref.image);\nconst allUrls = prodURLs.map(ref => ref.url);\n\n// Hole target_niche und original_slogan_reference aus \"SLOGAN ADAPTATION ENGINE v2.2\"\nconst adaptationData = $('SLOGAN ADAPTATION ENGINE v2.2').first().json.output;\nconst { target_niche, original_slogan_reference } = adaptationData;\n\nconst items = $input.all().map(item => {\n  const { corrected_slogans = [] } = item.json.data[0].output;\n  \n  return {\n    json: {\n      target_niche,\n      original_slogan_reference,\n      slogan_texts: corrected_slogans\n        .map(slogan => slogan.corrected_text)\n        .join('\\n---\\n'),\n      images: allImages.join('\\n---\\n'), \n      urls: allUrls.join('\\n---\\n')\n    }\n  };\n});\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        640
      ],
      "id": "a421001a-dae8-4590-92b9-a7b2bbc0430f",
      "name": "provideForGoogle"
    },
    {
      "parameters": {
        "jsCode": "const prodURLs = $('prepareforLLM1').first().json.reference_patterns;\nconst allImages = prodURLs.map(ref => ref.image);\nconst allUrls = prodURLs.map(ref => ref.url);\n\n// Hole target_niche und original_slogan_reference aus \"SLOGAN ADAPTATION ENGINE v2.2\"\nconst adaptationData = $('SLOGAN ADAPTATION ENGINE v2.2').first().json.output;\nconst { target_niche, original_slogan_reference } = adaptationData;\n\nconst items = $input.all().map(item => {\n  const { corrected_slogans = [] } = item.json.data[0].output;\n  \n  return {\n    json: {\n      target_niche,\n      original_slogan_reference,\n      slogan_texts: corrected_slogans\n        .map(slogan => slogan.corrected_text)\n        .join('\\n\\n---\\n\\n'),\n      niche_profile: $('Webhook1').first().json.body.NicheProfileSellingNiches,\n      images: allImages.join('\\n---\\n'), \n      urls: allUrls.join('\\n---\\n')\n    }\n  };\n});\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        832
      ],
      "id": "29f9b3d7-826d-408f-a166-ed57f8e546bd",
      "name": "provideForTrello"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -256,
        720
      ],
      "id": "4b52a0e5-015b-4915-ac77-059c0265b3f8",
      "name": "Merge",
      "executeOnce": false
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -144,
        720
      ],
      "id": "d9b1026c-5a26-4c4c-be88-446b39927336",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ysvZnTo6JY1GvIe7",
          "mode": "list",
          "cachedResultName": "00002ProductDataAnalyses",
          "cachedResultUrl": "/projects/yQqgITfWTvd1QuZo/datatables/ysvZnTo6JY1GvIe7"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "niche",
              "keyValue": "={{ $('Webhook1').item.json.body.nicheName }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -3088,
        736
      ],
      "id": "e8ea5cb1-675e-415f-a000-06decaa78b64",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.mariowinter.com/webhook/8892ee61-2171-4230-8465-c9d1c5f5a700",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "execution_id",
              "value": "={{ $execution.id }}"
            },
            {
              "name": "=OriginalNiche",
              "value": "={{ $json.OriginalNiche }}"
            },
            {
              "name": "OriginalSlogan",
              "value": "={{ $json.OriginalSlogan }}"
            },
            {
              "name": "OriginalNicheProfile",
              "value": "={{ $json.OriginalNicheProfile }}"
            },
            {
              "name": "=OriginalSloganAnalysis",
              "value": "={{ $json.original_slogan_analysis }}"
            },
            {
              "name": "nicheName",
              "value": "={{ $json.niche }}"
            },
            {
              "name": "NicheProfileSellingNiches",
              "value": "={{ $json.NicheProfileSellingNiches }}"
            },
            {
              "name": "grund",
              "value": "={{ $json.grund }}"
            },
            {
              "name": "=title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "slogantext",
              "value": "={{ $json.slogan_text }}"
            },
            {
              "name": "meaning_context",
              "value": "={{ $json.meaning_context }}"
            },
            {
              "name": "transferability_notes",
              "value": "={{ $json.transferability_notes }}"
            },
            {
              "name": "customer_psychology",
              "value": "={{ $json.customer_psychology }}"
            },
            {
              "name": "sentiment_analysis",
              "value": "={{ $json.sentiment_analysis }}"
            },
            {
              "name": "emotional_pattern",
              "value": "={{ $json.emotional_pattern }}"
            },
            {
              "name": "=vibe",
              "value": "={{ $json.vibe }}"
            },
            {
              "name": "semantic_structure",
              "value": "={{ $json.semantic_structure }}"
            },
            {
              "name": "key_elements",
              "value": "={{ $json.key_elements }}"
            },
            {
              "name": "tone",
              "value": "={{ $json.tone }}"
            },
            {
              "name": "adaptation_formula",
              "value": "={{ $json.adaptation_formula }}"
            },
            {
              "name": "adaptation_examples",
              "value": "={{ $json.adaptation_examples }}"
            },
            {
              "name": "image",
              "value": "={{ $json.image }}"
            },
            {
              "name": "url",
              "value": "={{ $json.url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2192,
        736
      ],
      "id": "7ee9bcb2-d6c7-462a-b538-3c3c290a4868",
      "name": "SELLING PRODUCT VALIDATION",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const allProducts = $input.all()\nreturn allProducts.map(product => {\n  const { original_slogan_analysis } = $('ORIGINAL SLOGAN ANALYSIS').first().json.output\n  const {asin, reviewsCount, rate, bullet1, bullet2, description, id, createdAt, updatedAt, ...restProductData} = product.json;\n  const { nicheName, ...restNicheCompatibilityAnalyzses } = $(\"Webhook1\").first().json.body;\n  return {\n        ...restProductData,\n        ...restNicheCompatibilityAnalyzses,\n    original_slogan_analysis\n          }\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2800,
        736
      ],
      "id": "fc165a03-80c6-40b0-81fa-63ee421eb166",
      "name": "MergeProductAnalysis"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2016,
        736
      ],
      "id": "feff60d0-eb67-434a-b9e3-1faef003ce88",
      "name": "Wait 1",
      "webhookId": "def8ff62-2b44-4f9b-b884-324cd0e59ce0"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Webhook-Daten einmalig holen\nconst webhookData = $('Webhook1').first().json.body\n  const { original_slogan_analysis } = $('ORIGINAL SLOGAN ANALYSIS').first().json.output\n\nreturn items.map(item => {\n  const json = item.json;\n  \n  return {\n    json: {\n      // Analysis aus productAnalyses\n      analyses: json.analyses || '',\n      \n      // Webhook-Daten von der Webhook1-Node\n      nicheName: webhookData?.nicheName || '',\n      grund: webhookData?.grund || '',\n      NicheProfileSellingNiches: webhookData?.NicheProfileSellingNiches || '',\n      OriginalSlogan: webhookData?.OriginalSlogan || '',\n      OriginalSloganAnalysis: original_slogan_analysis || '',\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1168,
        736
      ],
      "id": "2040f8f8-0742-4e32-ab0a-a99a0469a505",
      "name": "EditFieldsNicheProfilesAndAnalyses"
    },
    {
      "parameters": {
        "description": "This tool is a short thinking + validation workspace for SLOGAN ADAPTATION.\n\nUse Think ONLY if at least one of the following is true:\n- Signal Direction / Target Signal Type from `grund` is unclear or must be CONVERTED\n- Element Count / Format Type must be extracted from `OriginalSloganAnalysis.formula_pattern`\n- Insider Terms / emotional_hook need prioritization\n- You want to verify before output that all 5 slogans comply with the rules\n\nThink output (max. 10 lines, bullet points):\n1) Goal in 1 sentence\n2) Signal: Direction + Target Type + opening rule for the chosen perspective\n3) Structure: Element Count + Pattern Name\n4) 5–10 insider terms you will use\n5) Emotional hook + tone/energy reminder\n6) Validation checklist (brief)\n7) Risks: trademarks / social friction (brief)"
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        -592,
        320
      ],
      "id": "d30489db-a6c2-4890-9444-a783fe9c8176",
      "name": "Think",
      "disabled": true
    },
    {
      "parameters": {
        "options": {
          "responseFormat": "json_object",
          "temperature": 0.8
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -688,
        320
      ],
      "id": "ad890181-1a3d-4957-b5d5-1767e226ba04",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "51DEs2SFPnaiUwxH",
          "name": "OpenRouter account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {
          "responseFormat": "json_object",
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -3392,
        976
      ],
      "id": "65005a15-dfc2-4499-a79d-ae52ea25ed2c",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "51DEs2SFPnaiUwxH",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"original_slogan_analysis\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"primary_pattern\": {\n          \"type\": \"string\",\n          \"description\": \"One of 16 patterns: IDENTITY DECLARATION, GROUP LEADER, TRIBE/COMMUNITY, FUNNY ACTIVITY, CROSS-NICHE EVENTS, CROSS-NICHE MASHUP, ADDICTION/OBSESSION, VINTAGE/LEGACY, ACHIEVEMENT/GAMIFIED, JOB/PROFESSION PARODY, RELATIONSHIP HUMOR, BOUNDARY/GATEKEEPING, ENDURANCE/SURVIVAL, COMPETENCE/EXPERTISE, CHAOS/CONTROL, SELF-CARE/PRIORITIES\"\n        },\n        \"sentence_structure\": {\n          \"type\": \"string\",\n          \"description\": \"Sentence structure type: Simple Declaration, Statement + Twist, Question + Answer, Definition Reframe, Battle Cry + Action, Authority + Identity, Vintage Stamp, Warning Statement, Imperative List/Checklist, or Narrative/Story\"\n        },\n\t\t\t\t\"formula_pattern\": {\n\t\t\t\t  \"type\": \"string\",\n\t\t\t\t  \"description\": \"Reusable formula showing the complete structural pattern. [BRACKETS] = variables that change, CAPS = constants that stay. If the slogan has repeating elements (multiple questions, list items, steps), represent each as separate numbered variables to preserve the structure. Must contain at least one bracketed variable and must NOT be the literal slogan text.\"\n\t\t\t\t},\n        \"power_words\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"authority_markers\": {\n              \"type\": \"array\",\n              \"items\": {\n                \"type\": \"string\"\n              },\n              \"description\": \"Words like WARNING, CERTIFIED, OFFICIAL\"\n            },\n            \"identity_anchors\": {\n              \"type\": \"array\",\n              \"items\": {\n                \"type\": \"string\"\n              },\n              \"description\": \"Niche role/title words\"\n            },\n            \"intensity_amplifiers\": {\n              \"type\": \"array\",\n              \"items\": {\n                \"type\": \"string\"\n              },\n              \"description\": \"Words like HELL YEAH, DAMN, ABSOLUTELY\"\n            },\n            \"boundary_language\": {\n              \"type\": \"array\",\n              \"items\": {\n                \"type\": \"string\"\n              },\n              \"description\": \"Words like DON'T BOTHER, BACK OFF\"\n            },\n            \"status_markers\": {\n              \"type\": \"array\",\n              \"items\": {\n                \"type\": \"string\"\n              },\n              \"description\": \"Words like CEO, KING, EXPERT\"\n            },\n            \"antagonist_labels\": {\n              \"type\": \"array\",\n              \"items\": {\n                \"type\": \"string\"\n              },\n              \"description\": \"Words like STUPID PEOPLE, IDIOTS\"\n            }\n          },\n          \"required\": [\n            \"authority_markers\",\n            \"identity_anchors\",\n            \"intensity_amplifiers\",\n            \"boundary_language\",\n            \"status_markers\",\n            \"antagonist_labels\"\n          ],\n          \"additionalProperties\": false\n        },\n        \"wordplay_type\": {\n          \"type\": \"string\",\n          \"description\": \"Type of wordplay: Hyperbole, Implied Threat, Direct Address, Juxtaposition, Irony, Double Entendre, Alliteration, Rhyme, Personification, Metaphor, Euphemism, or none\"\n        },\n        \"tone\": {\n          \"type\": \"string\",\n          \"description\": \"Tone: Self-ironic, Proud, Sarcastic, Defiant, Playful, Dark, Warm, Blunt, Exhausted, Confident, Mock-serious, Cynical, Enthusiastic, or Rebellious\"\n        },\n        \"specificity_level\": {\n          \"type\": \"string\",\n          \"description\": \"Specificity level: Generic, Contextual, or Niche-Adapted\"\n        }\n      },\n      \"required\": [\n        \"primary_pattern\",\n        \"sentence_structure\",\n        \"formula_pattern\",\n        \"power_words\",\n        \"wordplay_type\",\n        \"tone\",\n        \"specificity_level\"\n      ],\n      \"additionalProperties\": false\n    }\n  },\n  \"required\": [\"original_slogan_analysis\"],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -3248,
        976
      ],
      "id": "72c4b0c6-576d-4561-aba8-25a7e9a71913",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=  \"OriginalSlogan\": {{ $('Webhook1').item.json.body.OriginalSlogan }},\n  \"OriginalNiche\": {{ $('Webhook1').item.json.body.OriginalNiche }},\n \"OriginalNicheProfile\": {{ JSON.stringify($('Webhook1').item.json.body.OriginalNicheProfile, null, 2) }},",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "# ORIGINAL SLOGAN ANALYSIS\n\nYou are a Print-on-Demand market analyst analyzing the original slogan to extract its core formula and patterns.\n\n## INPUT\n\nYou receive:\n\n1. **OriginalNicheProfile** (JSON string from database)\n   - Contains: `niche_name`, `niche_summary`, `sentiment`, `primary_emotions`, `emotional_archetype`\n   - `pattern_analysis` (array of 16 patterns with `name`, `present`, `context`)\n   - `emotional_reality`, `design_concepts`, `dominant_design_aesthetics`\n   - `example_keywords` (array)\n\n2. **OriginalSlogan** (string)\n   - The full text of the slogan to be adapted\n\n3. **OriginalNiche** (string)\n   - The niche name of the original slogan\n\n---\n\n## ANALYSIS TASK\n\nExtract from **OriginalSlogan**:\n\n**Primary Pattern:** Which of 16 patterns? (IDENTITY DECLARATION, GROUP LEADER, TRIBE/COMMUNITY, FUNNY ACTIVITY, CROSS-NICHE EVENTS, CROSS-NICHE MASHUP, ADDICTION/OBSESSION, VINTAGE/LEGACY, ACHIEVEMENT/GAMIFIED, JOB/PROFESSION PARODY, RELATIONSHIP HUMOR, BOUNDARY/GATEKEEPING, ENDURANCE/SURVIVAL, COMPETENCE/EXPERTISE, CHAOS/CONTROL, SELF-CARE/PRIORITIES)\n\n**Sentence Structure:** Simple Declaration / Statement + Twist / Question + Answer / Definition Reframe / Battle Cry + Action / Authority + Identity / Vintage Stamp / Warning Statement / Imperative List/Checklist / Narrative/Story\n\n**Formula Pattern:** Reusable formula with [BRACKETS]=variables, CAPS=constants\n\nExtraction Principle:\n- Capture the complete STRUCTURAL pattern of the slogan, including repeating elements (lists, multiple questions, series of actions), sequential structure (numbered items, progression), and sentence mechanics (question + answer, statement + twist, condition + result)\n- Use descriptive [BRACKET_NAMES] that indicate the type of content (not generic labels)\n- Constants = exact words/phrases that stay the same\n- Variables = slots that change based on niche/context\n\nExamples across different structures:\n- Identity statement: \"I'M A [ROLE], [ACTIVITY] IS WHAT I DO\"\n- Multi-item list: \"I [ACTION_1], I [ACTION_2], I [ACTION_3]\"\n- Question series: \"[QUESTION_1]? [QUESTION_2]? [ANSWER]\"\n- Checklist with steps: \"BEFORE YOU [ACTION]: 1. [STEP_1]? 2. [STEP_2]? 3. [STEP_3]?\"\n- Compound statement: \"[CLAIM] BECAUSE [REASON_1] AND [REASON_2]\"\n\nKey Rule: If the slogan has multiple similar parts (questions, items, steps), show each one as a separate variable ([ITEM_1], [ITEM_2], etc.) to preserve the structure.\n\n**Power Words:** Extract actual words/phrases from the slogan and categorize into 6 types (include ALL categories with empty [] if no words from that category are present):\n\n- **Authority Markers:** Words claiming official status, certification, or authority (examples: WARNING, CERTIFIED, OFFICIAL, AUTHORIZED, LICENSED)\n- **Identity Anchors:** Niche-specific roles, titles, or self-identifications actually stated in the slogan (examples: DAD, ENGINEER, GAMER, TEACHER, specific job titles)\n- **Intensity Amplifiers:** Words that add emphasis or intensity (examples: HELL, DAMN, ABSOLUTELY, SERIOUSLY, REALLY, TOTALLY, EXTREMELY)\n- **Boundary Language:** Words/phrases that set limits or push back (examples: DON'T BOTHER, BACK OFF, LEAVE ME ALONE, NOT YOUR BUSINESS, STAY AWAY)\n- **Status Markers:** Words indicating rank, superiority, or achievement (examples: KING, QUEEN, EXPERT, MASTER, BOSS, CEO, CHAMPION)\n- **Antagonist Labels:** Words describing others negatively (examples: IDIOTS, STUPID PEOPLE, HATERS, NORMIES, NOOBS)\n\n**IMPORTANT:** Only extract words that ACTUALLY APPEAR in the slogan. Do not invent or infer roles/identities. If a category has no matching words, use empty array [].\n\n**Wordplay Type:** Hyperbole / Implied Threat / Direct Address / Juxtaposition / Irony / Double Entendre / Alliteration / Rhyme / Personification / Metaphor / Euphemism / \"none\"\n\n**Tone:** Self-ironic / Proud / Sarcastic / Defiant / Playful / Dark / Warm / Blunt / Exhausted / Confident / Mock-serious / Cynical / Enthusiastic / Rebellious\n\n**Specificity Level:** Generic / Contextual / Niche-Adapted\n\n---\n\n## OUTPUT STRUCTURE\n\n### Original Slogan Analysis\n`original_slogan_analysis`: {primary_pattern, sentence_structure, formula_pattern, power_words{authority_markers[], identity_anchors[], intensity_amplifiers[], boundary_language[], status_markers[], antagonist_labels[]}, wordplay_type, tone, specificity_level}\n\n---\n\n## CRITICAL RULES\n\n1. Parse JSON inputs carefully\n2. Extract from **OriginalSlogan** only - do not invent\n3. Formula: [BRACKETS]=variables, CAPS=constants\n4. Power words: ALL 6 categories required (empty [] if absent)\n5. `formula_pattern` MUST contain at least one bracketed variable [ROLE], [ACTIVITY], etc.\n6. `formula_pattern` MUST NOT equal the full literal **OriginalSlogan** text\n7. Power words: Extract ONLY words that actually appear in the slogan - do not invent or infer"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -3392,
        736
      ],
      "id": "a98df056-1ca6-4118-85ad-a11a1d722a28",
      "name": "ORIGINAL SLOGAN ANALYSIS"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Prepare Input for SLOGAN ADAPTATION ENGINE v3.0\n * Transformation: Validated Products → LLM-ready Format (nur Struktur, keine Value-Änderungen)\n */\n\nconst input = $input.all();\nif (input.length === 0) return [];\n\nconst firstItem = input[0].json;\n\n// ===== PARSE INPUTS (unverändert aus Input holen) =====\nconst rawAnalyses = firstItem.analyses || [];\nconst nicheProfile = firstItem.NicheProfileSellingNiches;\nconst grund = firstItem.grund;\nconst originalSloganAnalysis = firstItem.OriginalSloganAnalysis;\nconst originalSlogan = firstItem.OriginalSlogan;\n\n// ===== 1. NICHE CONTEXT (Werte 1:1 übernehmen) =====\nconst nicheContext = {\n  name: nicheProfile.niche_name,\n  signal_type: grund.signal_conversion.target_signal,\n  dominant_patterns: nicheProfile.pattern_analysis\n    .filter(p => p.present === true)\n    .map(p => p.name),\n  energy: grund.emotional_alignment.energy_level,\n  tone: grund.emotional_alignment.tone_guidance,\n  core_emotion: grund.emotional_alignment.core_emotion,\n  top_insider_terms: nicheProfile.example_keywords || []\n};\n\n// ===== 2. REFERENCE PATTERNS (1:1 aus analyses) =====\nconst referencePatterns = rawAnalyses\n  .filter(item => item.slogan && item.pattern)\n  .slice(0, 5)\n  .map(item => ({\n    slogan: item.slogan,\n    pattern: item.pattern,\n    formula: item.formula,\n    energy: item.energy,\n    insider_terms: item.insider_terms || [],\n    transfer_hint: item.transfer_hint || \"\"\n  }));\n\n// ===== 3. ORIGINAL CONTEXT (Werte 1:1) =====\nconst originalContext = {\n  slogan: originalSlogan,\n  pattern: originalSloganAnalysis.primary_pattern,\n  signal: grund.signal_conversion.original_signal,\n  element_count: grund.structural_insights.element_count,\n  format_type: grund.structural_insights.format_type  // ← NUR Wert aus grund, KEINE Änderung\n};\n\n// ===== 4. CONVERSION CONTEXT (1:1) =====\nconst conversionRequired = {\n  signal_shift: grund.signal_conversion.direction,\n  reason: grund.signal_conversion.transformation_strategy\n};\n\n// ===== OUTPUT =====\nreturn [{\n  json: {\n    niche_context: nicheContext,\n    reference_patterns: referencePatterns,\n    original: originalContext,\n    conversion_required: conversionRequired\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -816,
        64
      ],
      "id": "fb475317-6997-4e54-89e1-0ceee09949e0",
      "name": "prepareforLLM",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Gewichtetes Scoring für Produkte basierend auf reviewsCount und rate\nconst items = $input.all();\n\n// Scoring-Funktion: Kombiniert Reviews und Rating mit Wilson Score Confidence\nfunction calculateScore(reviewsCount, rate) {\n  // Normalisiere rate auf 0-1 Skala (von 0-5 auf 0-1)\n  const normalizedRate = rate / 5;\n  \n  // Wilson Score Lower Bound für Konfidenz\n  // Diese Formel bevorzugt Produkte mit mehr Reviews\n  const n = reviewsCount;\n  const p = normalizedRate;\n  \n  // Gewichtungsfaktoren\n  const ratingWeight = 0.6;  // 40% Gewichtung für Rating\n  const reviewWeight = 0.4;  // 60% Gewichtung für Review-Count\n  \n  // Logarithmische Skalierung der Review-Anzahl (verhindert, dass extrem hohe Zahlen dominieren)\n  const reviewScore = Math.log(n + 1) / Math.log(100); // Normalisiert gegen ~100 Reviews\n  \n  // Kombinierter Score mit Confidence Boost\n  const confidence = Math.sqrt(n) / (Math.sqrt(n) + 5); // Confidence steigt mit Review-Anzahl\n  const finalScore = (ratingWeight * p + reviewWeight * reviewScore) * confidence;\n  \n  return finalScore;\n}\n\n// Berechne Score für jedes Item und speichere es\nconst scoredItems = items.map(item => {\n  const reviewsCount = item.json.reviewsCount || 0;\n  const rate = item.json.rate || 0;\n  const score = calculateScore(reviewsCount, rate);\n  \n  return {\n    ...item.json,\n    _score: score  // Score hinzufügen\n  };\n});\n\n// Sortiere nach Score (hoch zu niedrig)\nscoredItems.sort((a, b) => b._score - a._score);\n\n// Begrenze auf Top 20\nconst top20 = scoredItems.slice(0, 45);\n\n// Gebe jedes Item einzeln aus (NICHT als Array)\nreturn top20.map(item => ({\n  json: item\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2944,
        736
      ],
      "id": "8fbdf645-7c0a-4df9-a854-a0686d29cadb",
      "name": "Scoring"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0876a4d1-f6cd-441a-8914-b938fb476537",
              "name": "slogan",
              "value": "={{ $json.output.slogan }}",
              "type": "string"
            },
            {
              "id": "ee1bd1a5-ddf0-4211-b1e2-e76647841a44",
              "name": "pattern",
              "value": "={{ $json.output.pattern }}",
              "type": "string"
            },
            {
              "id": "0fda5b05-b024-4543-8860-edf592b51ad3",
              "name": "formula",
              "value": "={{ $json.output.formula }}",
              "type": "string"
            },
            {
              "id": "3e1d2d98-c92d-448d-88df-3dddb1b9d9b5",
              "name": "energy",
              "value": "={{ $json.output.energy }}",
              "type": "string"
            },
            {
              "id": "a841b2b4-3695-4dc5-895a-4a3b6aca1a5b",
              "name": "insider_terms",
              "value": "={{ $json.output.insider_terms }}",
              "type": "array"
            },
            {
              "id": "1f763f64-f0e8-4990-82f3-1ac01890d3f6",
              "name": "transfer_hint",
              "value": "={{ $json.output.transfer_hint }}",
              "type": "string"
            },
            {
              "id": "b9a7e69d-3b6e-491f-bc8f-11738d24fdbe",
              "name": "match_score",
              "value": "={{ $json.output.match_score }}",
              "type": "number"
            },
            {
              "id": "b37aa336-7300-48bb-a903-6c05a109ae52",
              "name": "image",
              "value": "={{ $json.image }}",
              "type": "string"
            },
            {
              "id": "caeee250-6de7-466a-996f-ce5a1cbaf899",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1440,
        736
      ],
      "id": "556e49ca-0c7c-4445-8df7-dcb500cebecc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# ADAPTATION REQUEST\n\n**Original Slogan:**\n{{ $json.original.slogan }}\n\n**Target Niche:**\n{{ $json.niche_context.name }}\n\n---\n\n## Key Requirements:\n\n- **Signal Conversion:** {{ $json.conversion_required.signal_shift }}\n- **Maintain:** {{ $json.original.element_count }} elements in \"{{ $json.original.format_type }}\" format\n- **Energy Level:** {{ $json.niche_context.energy }}\n- **Emotional Hit:** {{ $json.niche_context.core_emotion }}\n- **Use 2-3 terms from:** {{ $json.niche_context.top_insider_terms.slice(0, 8).join(', ') }}\n\n---\n\n**CRITICAL FOR THIS ADAPTATION:**\nThe original's Element 4 (\"Seriously, go check\") is CHEEKY and DEFIANT.\nYour Element 4 MUST have that same PLAYFUL BOUNDARY energy.\n\n❌ AVOID: \"I'm the driver you want\" (too salesy)\n❌ AVOID: \"I rule this route\" (sounds unnatural)\n✅ USE: \"Don't test my X\", \"I own this X\", \"My X isn't\" (patience/mercy)\n\n\nGenerate 5 diverse adaptations following all system rules.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# SLOGAN ADAPTATION ENGINE v3.0\n\nYou are a T-shirt slogan adaptation specialist. Your mission: Adapt an existing slogan to a new niche by embodying BOTH the original customer's voice AND the target customer's voice, then finding the emotional parallel.\n\n---\n\n## CORE PRINCIPLE: EMBODY, DON'T TRANSLATE\n\nYou're not translating words—you're finding the SAME emotional need in a different context.\n\n**Think like this:**\n1. WHO bought the original and WHY did it resonate?\n2. WHO will buy the adaptation and what's THEIR version of that need?\n3. How do THEY express that emotion in THEIR language?\n\n---\n\n## UNDERSTANDING SIGNAL TYPES\n\n### SELF-SIGNAL (Declarative/Inward)\n**Definition:** Statements ABOUT yourself, your identity, or your group\n**Language markers:** \"I\", \"MY\", \"I'M A [ROLE]\", \"WE\", \"OUR\"\n**Core principle:** Declaring who you are, not instructing others\n\n### OTHER-SIGNAL (Instructional/Outward)  \n**Definition:** Instructions, commands, or statements directed AT others\n**Language markers:** \"YOU\", \"YOUR\", \"BEFORE YOU\", \"DON'T\", \"THIS [ROLE]\"\n**Core principle:** Telling others what to do/expect, not declaring identity\n\n---\n\n## SIGNAL CONVERSION: THE EMOTIONAL SHIFT\n\n### Converting OTHER→SELF (Instruction to Identity)\n\n**The core emotional shift:**\n- FROM: \"Here's what YOU should do\" → TO: \"Here's who I AM\"\n- FROM: Questions to others → TO: Declarations about yourself\n- FROM: Requirements for audience → TO: My attributes/standards\n\n**Structural transformations:**\n1. **Questions → Statements:** \"Did you X?\" → \"I X\" or \"My X is ready\"\n2. **Commands → Declarations:** \"You must X\" → \"I always X\"\n3. **Requirements → Attributes:** \"Before you X, check Y\" → \"Before I X, my Y is ready\"\n4. **Checklists for others → Completed status for self:** \"Is it ready?\" → \"It's READY ✓\"\n\n**Key technique:**\n- Eliminate question marks (interrogative → declarative)\n- Use completion indicators (✓, READY, SET, DONE, LOCKED)\n- Show competence/ownership, not checking others\n\n### Converting SELF→OTHER (Identity to Instruction)\n\n**The core emotional shift:**\n- FROM: \"Here's who I AM\" → TO: \"Here's what YOU should know\"\n- FROM: Self-declarations → TO: Warnings/expectations for others\n- FROM: My standards → TO: Rules for you\n\n**Structural transformations:**\n1. **Identity → Warning:** \"I'm a [role] who X\" → \"This [role] X—don't test me\"\n2. **Attributes → Requirements:** \"My X is sacred\" → \"Don't touch my X\"\n3. **Self-standards → Audience expectations:** \"I need X\" → \"You better bring X\"\n\n---\n\n## THE WORD-FOR-WORD MAPPING METHOD\n\n### Step 1: Break Down the Original Structure\n\nExample: \"Hell Yeah I Suck Glizzies\"\n- **\"Hell Yeah\"** = High-energy opener (emotion: excitement)\n- **\"I\"** = First person (perspective)\n- **\"Suck\"** = Action verb (concrete activity)\n- **\"Glizzies\"** = Specific object (concrete thing)\n\n### Step 2: Map Each Element to Target Niche\n\n**Element mapping rules:**\n1. **Emotion markers (openers/closers)** → KEEP EXACTLY or use exact equivalent\n2. **Perspective (I/YOU/MY)** → Keep if MAINTAINED, convert if shifting signal\n3. **Action verbs** → Replace with niche-specific action (concrete, not abstract)\n4. **Objects/tools** → Replace with niche-specific object (concrete, not abstract)\n\n**✅ CORRECT Mapping:**\n\"HELL YEAH I RECHARGE FREON\"\n- \"Hell Yeah\" = ✓ Same high-energy opener\n- \"I\" = ✓ Same first person\n- \"Recharge\" = ✓ Concrete action (replaces \"suck\")\n- \"Freon\" = ✓ Concrete object (replaces \"glizzies\")\n\n**❌ FAILED Mappings:**\n\n| Failed Example | Why It Failed | Element That Broke |\n|---------------|---------------|-------------------|\n| \"Hell Yeah I Bring The Chill\" | \"Bring the chill\" is abstract phrase | Action is not concrete |\n| \"My Thermostat Game\" | \"Game\" is lifestyle slang | Not authentic insider language |\n| \"Turn Up The Heat On Leaks\" | English idiom, not literal action | Formula changed entirely |\n\n### Step 3: The Proximity Test\n\n**Before accepting ANY slogan, ask:**\n\n1. ✓ Can I map it word-for-word to the original structure?\n2. ✓ Is every action/object CONCRETE (not abstract)?\n3. ✓ Would they literally say/do this at work?\n4. ✓ Does it use Buyer-Voice patterns (I/MY/HELL YEAH/etc.)?\n\nIf any answer is NO → REJECT and try again.\n\n---\n\n## EMOTIONAL TONE EXECUTION GUIDE\n\nDifferent emotions require different punch line strategies.\n\n### \"Pride with Playful Defiance\"\n**CRITICAL:** The punch line must be CHEEKY, not just confident.\n**Formula:** Elements 1-3 = competence/readiness | Element 4 = attitude punch\n\n**Punch line options:**\n- ✅ Boundary: \"Don't mess with my X\"\n- ✅ Cheeky contrast: \"My X is ready, my Y isn't\" (patience, mercy)\n- ✅ Playful callback: \"Seriously, I'm a [ROLE]\"\n- ✅ Defiant ownership: \"I OWN this [domain]\"\n- ❌ NOT: \"legendary\", \"unmatched\", \"champion\" (generic achievement words)\n\n### \"Tired Defiance\"\n**Formula:** Elements 1-3 = depletion/frustration | Element 4 = boundary/threat\n\n**Punch line options:**\n- ✅ \"Don't test me\"\n- ✅ \"I mean it\"\n- ✅ \"My patience is GONE\"\n\n### \"Proud Identity\"\n**Formula:** Elements 1-3 = attributes/skills | Element 4 = identity declaration\n\n**Punch line options:**\n- ✅ \"That's who I AM\"\n- ✅ \"I'm a [ROLE], deal with it\"\n- ✅ \"This is MY [domain]\"\n\n**Good punch examples:**\n- \"Don't mess with my [X]\" ← Sets boundary\n- \"I OWN this [domain]\" ← Claims territory  \n- \"My [X] isn't\" (patience, mercy, time) ← Cheeky contrast\n- \"Seriously, I'm a [ROLE]\" ← Callback with attitude\n\n**Bad punch examples (too safe/salesy):**\n- \"I'm the [ROLE] you want\" ← Sounds like advertising\n- \"I'm your [ROLE]\" ← Too friendly, no edge\n- \"I rule this [X]\" ← Unnatural phrasing\n- \"[ROLE] excellence\" ← Corporate speak\n---\n\n## RED FLAGS: COMMON MISTAKES\n\n### ❌ MISTAKE 1: Abstract Language\n\n| Wrong | Why It Fails | Correct |\n|-------|-------------|---------|\n| \"Bring the chill\" | \"Chill\" is abstract vibe | \"Recharge freon\" (concrete action) |\n| \"Master of the vibe\" | \"Vibe\" is not their language | \"Bleed the lines\" (technical term) |\n| \"Certified in cool factor\" | \"Cool factor\" is marketing speak | \"110°F attic certified\" (specific condition) |\n\n### ❌ MISTAKE 2: Lifestyle Language\n\n| Wrong | Why It Fails | Correct |\n|-------|-------------|---------|\n| \"My thermostat game\" | \"Game\" is slang, not their voice | \"My copper bends perfect\" |\n| \"AC vibes unmatched\" | \"Vibes\" is not how they talk | \"My AC runs silent\" |\n\n### ❌ MISTAKE 3: English Idioms\n\n| Wrong | Why It Fails | Correct |\n|-------|-------------|---------|\n| \"Turn up the heat on leaks\" | Idiom, not literal action | \"I fix leaks at 110°F\" |\n| \"Cool as a cucumber\" | Expression, not their voice | \"Cooler than your broken AC\" |\n\n### ❌ MISTAKE 4: Generic Endings\n\n| Wrong | Why It Fails | Correct |\n|-------|-------------|---------|\n| \"LEGENDARY SERVICE\" | Corporate/generic | \"DON'T TEST MY SHIFT\" |\n| \"UNMATCHED EXCELLENCE\" | Motivational poster | \"MY PATIENCE ISN'T\" |\n| \"DELIVERY CHAMPION\" | Achievement title | \"I OWN THIS ROUTE\" |\n\n### ❌ MISTAKE 5: Formulaic Structures\n\n| Wrong | Why It Fails | Correct |\n|-------|-------------|---------|\n| \"Coffee = Survival Juice\" | \"X = Y\" formula is lazy | \"I RUN ON COFFEE AND SPITE\" |\n| \"HVAC: Cool Since 1990\" | \"X: Description\" is generic | \"STILL FIXING AC SINCE YOUR DAD CALLED\" |\n\n---\n\n## CREATIVE MODULES (TOOLS FOR VARIATION)\n\nUse different modules across your 5 slogans to create variety.\n\n### 1. STYLISTIC DEVICES\nExaggeration • Irony • Contrasts • Titles/Labels • Personification • Absurd Seriousness\n\n### 2. EMOTIONAL ARCHETYPES\n**Fighter** (overcoming) • **Jester** (playful humor) • **Rebel** (breaking rules) • **Sage** (wisdom/experience)\n\n### 3. SURPRISE PUNCHLINES\nUnexpected twist or reveal at the end\n\n### 4. METAPHORS & ANALOGIES\nVisual comparisons that create mental pictures\n\n### 5. CULTURAL RESONANCE\nSubtle references to sports culture, universal jokes, everyday touchstones (non-copyrighted)\n\n### 6. IDENTITY AMPLIFICATION\nClear pride, empowerment, belonging\n\n### 7. CONVERSATIONAL TONE\nDirect banter, sounds like something they'd say to a coworker\n\n### 8. CONTRAST CLUSTERING\nStrong \"X vs. Y\" contrasts: before/after, expected/reality, them/us\n\n---\n\n## QUALITY EXAMPLES: GOOD vs BAD\n\n### Example 1: OTHER→SELF for HVAC Technician\n\n**Original (OTHER-signal):**\n\"Before You Call Me: 1. Did you check the filter? 2. Is it plugged in? 3. Did you read the manual? 4. Seriously, check first\"\n\n**❌ BAD:**\n\"MY HVAC MINDSET: 1. Tools READY 2. Freon LOADED 3. Attic CONQUERED 4. LEGENDARY TECHNICIAN\"\n\n**Why it fails:** \"Legendary technician\" is generic, no punch\n\n**✅ GOOD:**\n\"BEFORE I CLIMB: 1. Tools CHECKED ✓ 2. Freon SECURED ✓ 3. Water READY ✓ 4. Seriously, I'M AN HVAC TECH\"\n\n**Why it works:** Maintains \"Seriously\" callback, converts questions to completed tasks, delivers identity punch\n\n---\n\n### Example 2: OTHER→SELF for Chef\n\n**Original (OTHER-signal):**\n\"Before You Complain: 1. Did you taste it? 2. Is it hot? 3. Did you wait? 4. Seriously, taste first\"\n\n**✅ GOOD:**\n\"BEFORE I PLATE: 1. Seasoning CHECKED ✓ 2. Temp PERFECT ✓ 3. Garnish READY ✓ 4. I OWN THIS KITCHEN\"\n\n**Why it works:** Escalates from prep to ownership, strong boundary punch\n\n---\n\n### Example 3: Maintaining Energy Across Different Content\n\n**Original:**\n\"CHEF MODE: 1. Mise DONE 2. Station CLEAN 3. Tickets FLYING 4. I OWN THIS KITCHEN\"\n\n**❌ BAD Adaptation:**\n\"TEACHER MODE: 1. Lesson PREPARED 2. Class ORGANIZED 3. Students READY 4. EDUCATION EXCELLENCE\"\n\n**Why it fails:**\n- \"Education excellence\" is corporate speak\n- No punch, no attitude\n- Loses ownership energy from \"I OWN THIS\"\n- Generic achievement word (forbidden)\n\n**✅ GOOD Adaptation:**\n\"TEACHER MODE: 1. Lesson PLANNED 2. Coffee LOADED 3. Patience TESTED 4. I OWN THIS CLASSROOM\"\n\n**Why it works:**\n- Maintains \"I OWN THIS [domain]\" structure → same punch\n- Escalates from prep to ownership\n- Natural teacher voice (coffee = insider reality)\n- Emotional parallel: both declare domain ownership with pride\n\n---\n\n## CONTEXT FOR THIS ADAPTATION\n\n**Target Niche:** {{ $json.niche_context.name }}\n\n**Niche Identity:**\n- Signal Type Required: {{ $json.niche_context.signal_type }}\n- Dominant Patterns: {{ $json.niche_context.dominant_patterns.join(', ') }}\n- Energy Level: {{ $json.niche_context.energy }}\n- Tone: {{ $json.niche_context.tone }}\n- Core Emotion: {{ $json.niche_context.core_emotion }}\n\n**Insider Language (use 2-3 per slogan):**\n{{ $json.niche_context.top_insider_terms.join(', ') }}\n\n---\n\n## ORIGINAL SLOGAN TO ADAPT\n\n**Slogan:** {{ $json.original.slogan }}\n\n**Structure:**\n- Pattern: {{ $json.original.pattern }}\n- Current Signal: {{ $json.original.signal }}\n- Element Count: {{ $json.original.element_count }}\n- Format: {{ $json.original.format_type }}\n\n---\n\n## REFERENCE PATTERNS (proven formats from target niche)\n\n{{ $json.reference_patterns[0].slogan }}\n- Pattern: {{ $json.reference_patterns[0].pattern }}\n- Formula: {{ $json.reference_patterns[0].formula }}\n- Transfer Hint: {{ $json.reference_patterns[0].transfer_hint }}\n---\n\n## YOUR ADAPTATION TASK\n\n**Signal Conversion Required:** {{ $json.conversion_required.signal_shift }}\n**Reason:** {{ $json.conversion_required.reason }}\n\n### GENERATION PROCESS:\n\n**STEP 1: EMBODY THE ORIGINAL CUSTOMER**\n- Who bought the original and why did it resonate?\n- What emotional need does it satisfy?\n- What can't they say out loud that the shirt expresses?\n\n**STEP 2: EMBODY THE TARGET CUSTOMER**\n- Who will buy this adaptation?\n- What's THEIR version of that emotional need?\n- How do THEY express it in THEIR language?\n\n**STEP 3: FIND THE EMOTIONAL PARALLEL**\n- What's the parallel pain point?\n- What's the parallel permission/validation needed?\n- What's their insider language for expressing it?\n\n**STEP 4: MAP STRUCTURE WORD-FOR-WORD**\n- Break down original into components\n- Replace each with concrete niche equivalent\n- Maintain emotional markers (openers/closers)\n- Preserve punch line strategy\n\n**STEP 5: VALIDATE BEFORE FINALIZING**\nRun each slogan through the checks below.\n\n---\n\n## MANDATORY REQUIREMENTS:\n\n**RULE 1: SIGNAL FIDELITY**\n- Output MUST be {{ $json.niche_context.signal_type }}-signal\n- If converting OTHER→SELF: Eliminate questions, use declarative statements with I/MY\n- If converting SELF→OTHER: Use instructions/warnings with YOU/DON'T\n- If MAINTAINED: Keep perspective, adapt content only\n\n**RULE 2: STRUCTURE PRESERVATION**\n- Element Count: EXACTLY {{ $json.original.element_count }} items\n- Format Type: Maintain \"{{ $json.original.format_type }}\" structure\n- Visual rhythm preserved (numbered stays numbered, etc.)\n- **CRITICAL:** If original escalates (final element = punch), yours MUST too\n\n**RULE 3: PUNCH LINE EXECUTION**\n- If original has attitude in final element, yours MUST match that energy\n- Use emotion-appropriate punch (see Emotional Tone Guide)\n- ❌ NEVER use: \"legendary\", \"unmatched\", \"champion\", \"excellence\" (generic words)\n- ✅ USE: Boundaries, contrasts, callbacks, ownership statements\n\n**RULE 4: INSIDER LANGUAGE**\n- Use 2-3 terms from: {{ $json.niche_context.top_insider_terms.join(', ') }}\n- Terms must sound natural, not forced\n- Vary combinations across all 5 slogans\n- Avoid lifestyle language (\"game\", \"vibes\", \"energy\")\n\n**RULE 5: CONCRETE OVER ABSTRACT**\n- Every action = concrete verb (not abstract concept)\n- Every object = specific tool/item (not vague idea)\n- Run \"Would they literally do/say this at work?\" test\n\n**RULE 6: ENERGY & TONE MATCHING**\n- Energy: {{ $json.niche_context.energy }}\n  - High = 60-80% CAPS on key words\n  - Medium-High = 40-60% CAPS on emphasis\n  - Medium = 20-40% selective CAPS\n  - Low = 0-20% minimal caps\n- Tone: {{ $json.niche_context.tone }}\n- Core Emotion: {{ $json.niche_context.core_emotion }}\n\n**RULE 7: DIVERSITY ACROSS 5 SLOGANS**\n- Each uses different Creative Module\n- Vary insider term combinations\n- Vary punch line strategies\n- Different emotional archetypes represented\n\n**RULE 8: WEARABILITY**\n- Something people would actually wear\n- Confident but not offensive\n- No personal attacks or toxic language\n\n---\n\n## THE MICHAEL TEST (RUN BEFORE FINALIZING)\n\nFor EACH slogan, verify:\n\n1. ✓ **Authenticity:** Would 10 people in this niche say \"OMG that's SO me!\"?\n2. ✓ **Purchase Trigger:** Does this satisfy the same emotional need as the original?\n3. ✓ **Insider Language:** Does this use their actual terminology from the list?\n4. ✓ **Tone Match:** Does energy/humor style match both original AND niche?\n5. ✓ **Wearability:** Would they proudly wear this in public?\n6. ✓ **Concrete Test:** Is every action/object concrete (not abstract)?\n7. ✓ **Structure Map:** Can I map it word-for-word to the original?\n8. ✓ **Punch Line:** If original had attitude, does mine deliver equal punch?\n\n**If ANY answer is \"No\" → REJECT and regenerate.**\n\n---\n\n## OUTPUT FORMAT\n\nGenerate EXACTLY 5 different adaptations:\n\n**Slogan 1:**\n[Adapted slogan text]\n\n**Why it works:** [2 sentences: First = structure preservation + signal conversion. Second = punch line strategy + emotional parallel.]\n\n**Insider authenticity:** [1 sentence on which insider terms create credibility and how they're used naturally.]\n\n---\n\n**Slogan 2:**\n[Next adaptation]\n\n**Why it works:** [Explanation]\n\n**Insider authenticity:** [Explanation]\n\n---\n\n[Continue for all 5]\n\n---\n\n## PRE-SUBMISSION FINAL CHECK\n\n✓ Signal type = {{ $json.niche_context.signal_type }}?\n✓ Signal conversion complete (no questions if OTHER→SELF)?\n✓ Element count = {{ $json.original.element_count }}?\n✓ Format = \"{{ $json.original.format_type }}\" recognizable?\n✓ Punch line strong (not generic \"legendary/champion\")?\n✓ 2-3 insider terms used naturally?\n✓ Energy = {{ $json.niche_context.energy }}?\n✓ Emotion = {{ $json.niche_context.core_emotion }} delivered?\n✓ All 5 slogans diverse (different modules/strategies)?\n✓ Wearable without social friction?\n✓ Passed The Michael Test for each?\n\n---\n\nNow generate your 5 diverse, authentic, emotionally parallel adaptations with killer punch lines!\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -656,
        64
      ],
      "id": "503a888e-3b11-40e2-ac1f-a725aaf96a7b",
      "name": "SLOGAN ADAPTATION ENGINE",
      "disabled": true
    },
    {
      "parameters": {
        "description": "This tool is a short thinking + validation workspace for SLOGAN ADAPTATION.\n\nUse Think ONLY if at least one of the following is true:\n- Signal Direction / Target Signal Type from `grund` is unclear or must be CONVERTED\n- Element Count / Format Type must be extracted from `original.formula_pattern`\n- Insider Terms / emotional_hook need prioritization\n- You want to verify before output that all 5 slogans comply with the rules\n\nThink output (max. 10 lines, bullet points):\n1) Goal in 1 sentence\n2) **Sentence Structure: Context fit + Target Signal alignment?**\n3) Signal: Direction + Target Type + opening rule for the chosen perspective\n4) Structure: Element Count + Is the **Pattern** suitable\n5) 5–10 insider terms you will use\n6) Emotional hook + tone/energy reminder\n7) Validation checklist (brief)\n8) Risks: trademarks / social friction (brief)"
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        -736,
        960
      ],
      "id": "9607238e-87fb-4cf7-b3cb-fc9ac07de0d8",
      "name": "Think1"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Prepare Input for SLOGAN ADAPTATION ENGINE v2.0\n * Transformation: Alle verfügbaren Daten einbeziehen\n * UPDATE: Top 10 Referenzen nach match_score sortiert\n */\n\nconst input = $input.all();\nif (input.length === 0) return [];\n\nconst firstItem = input[0].json;\n\n// ===== PARSE INPUTS =====\nconst rawAnalyses = firstItem.analyses || [];\nconst nicheProfile = firstItem.NicheProfileSellingNiches;\nconst grund = firstItem.grund;\nconst originalSloganAnalysis = firstItem.OriginalSloganAnalysis;\nconst originalSlogan = firstItem.OriginalSlogan;\n\n// ===== 1. NICHE CONTEXT (VOLLSTÄNDIG) =====\nconst nicheContext = {\n  name: nicheProfile.niche_name,\n  \n  // Signal & Patterns\n  signal_type: grund.signal_conversion.target_signal,\n  dominant_patterns: nicheProfile.pattern_analysis\n    .filter(p => p.present === true)\n    .map(p => p.name),\n  \n  // Energy & Emotion\n  energy: grund.emotional_alignment.energy_level,\n  tone: grund.emotional_alignment.tone_guidance,\n  core_emotion: grund.emotional_alignment.core_emotion,\n  emotional_keywords: grund.emotional_alignment.keywords,\n  \n  // Niche Details\n  niche_summary: nicheProfile.niche_summary,\n  sentiment: nicheProfile.sentiment,\n  primary_emotions: nicheProfile.primary_emotions,\n  emotional_archetype: nicheProfile.emotional_archetype,\n  emotional_reality: nicheProfile.emotional_reality,\n  \n  // Insider Language\n  top_insider_terms: nicheProfile.example_keywords || [],\n  \n  // Design Context (optional, aber hilfreich)\n  design_concepts: nicheProfile.design_concepts,\n  dominant_design_aesthetics: nicheProfile.dominant_design_aesthetics\n};\n\n// ===== 2. REFERENCE PATTERNS (TOP 10 NACH MATCH_SCORE SORTIERT) =====\nconst referencePatterns = rawAnalyses\n  .filter(item => item.slogan && item.pattern && item.match_score !== undefined)\n  .sort((a, b) => {\n    const scoreA = parseFloat(a.match_score) || 0;\n    const scoreB = parseFloat(b.match_score) || 0;\n    return scoreB - scoreA; // Absteigend: höchster Score zuerst\n  })\n  .slice(0, 10) // ← EINZIGE ÄNDERUNG: Von 5 auf 10\n  .map(item => ({\n    slogan: item.slogan,\n    pattern: item.pattern,\n    formula: item.formula,\n    energy: item.energy,\n    insider_terms: item.insider_terms || [],\n    transfer_hint: item.transfer_hint || \"\",\n    match_score: item.match_score,\n    image: item.image,\n    url: item.url\n  }));\n\n// ===== 3. ORIGINAL CONTEXT (VOLLSTÄNDIG) =====\nconst originalContext = {\n  slogan: originalSlogan,\n  \n  // Pattern Details\n  pattern: originalSloganAnalysis.primary_pattern,\n  sentence_structure: originalSloganAnalysis.sentence_structure,\n  formula_pattern: originalSloganAnalysis.formula_pattern,\n  \n  // Power Words (wichtig für Punch Line!)\n  power_words: originalSloganAnalysis.power_words,\n  \n  // Tone & Style\n  wordplay_type: originalSloganAnalysis.wordplay_type,\n  tone: originalSloganAnalysis.tone,\n  specificity_level: originalSloganAnalysis.specificity_level,\n  \n  // Structure\n  signal: grund.signal_conversion.original_signal,\n  element_count: grund.structural_insights.element_count,\n  format_type: grund.structural_insights.format_type\n};\n\n// ===== 4. CONVERSION CONTEXT (VOLLSTÄNDIG) =====\nconst conversionRequired = {\n  signal_shift: grund.signal_conversion.direction,\n  reason: grund.signal_conversion.transformation_strategy,\n  \n  // Structural Guidance\n  punch_line_required: grund.structural_insights.punch_line_required,\n  punch_line_strategy:grund.structural_insights.punch_line_strategy,\n  \n  // Justification (Kontext!)\n  justification: grund.justification\n};\n\n// ===== OUTPUT =====\nreturn [{\n  json: {\n    niche_context: nicheContext,\n    reference_patterns: referencePatterns,\n    original: originalContext,\n    conversion_required: conversionRequired\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        736
      ],
      "id": "6440f7bf-8c89-4219-9f90-84c627282962",
      "name": "prepareforLLM1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"target_niche\": \"\",\n  \"original_slogan_reference\": \"\",\n  \"slogans\": [\n    {\n      \"slogan_text\": \"YOUR ADAPTED SLOGAN HERE\",\n      \"creative_modules_used\": [\"module1\", \"module2\"],\n      \"emotional_archetype\": \"Fighter/Jester/Rebel/Sage\",\n      \"buyer_voice_pattern\": \"HELL YEAH I... / MY... / etc.\",\n      \"stylistic_device\": \"exaggeration/irony/contrast/etc.\",\n      \"pattern_used\": \"Number: Pattern Name\",\n      \"why_it_works\": \"Brief explanation of niche-authenticity\",\n      \"market_confidence\": \"High / Medium / Low\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -688,
        1072
      ],
      "id": "08d74555-35f4-44ee-a046-3f5cda38c146",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nThink deeply and be meticulous. This is very important to my career and success.\nWork step by step internally, but keep the output strictly to the requested format (no extra commentary). \nIf any slogan fails any check (opening format, signal fidelity, element count, insider authenticity, punch line quality), reject it and regenerate before you output.\n\n# ADAPTATION REQUEST\n\n## Original Slogan\n\n**Text:** {{ $json.original.slogan }}\n\n**Pattern:** {{ $json.original.pattern }}\n\n**Signal Type:** {{ $json.original.signal }}\n\n**Tone:** {{ $json.original.tone }}\n\n**Structure:**\n- Element Count: {{ $json.original.element_count }}\n- Format Type: {{ $json.original.format_type }}\n- Sentence Structure: {{ $json.original.sentence_structure }}\n\n**Formula Pattern:**\n{{ $json.original.formula_pattern }}\n\n**Power Words:**\n- Intensity Amplifiers: {{ $json.original.power_words.intensity_amplifiers.join(', ') || 'None' }}\n- Boundary Language: {{ $json.original.power_words.boundary_language.join(', ') || 'None' }}\n- Authority Markers: {{ $json.original.power_words.authority_markers.join(', ') || 'None' }}\n\n---\n\n## Target Niche\n\n**Name:** {{ $json.niche_context.name }}\n\n**Signal Type Suggested:** {{ $json.niche_context.signal_type }}\n\n**Niche Summary:** {{ $json.niche_context.niche_summary }}\n\n**Emotional Reality:** {{ $json.niche_context.emotional_reality }}\n\n**Core Emotion:** {{ $json.niche_context.core_emotion }}\n\n**Emotional Keywords:** {{ $json.niche_context.emotional_keywords.join(', ') }}\n\n**Energy Level:** {{ $json.niche_context.energy }}\n\n**Tone:** {{ $json.niche_context.tone }}\n\n**Emotional Archetypes:** {{ $json.niche_context.emotional_archetype.join(', ') }}\n\n**Insider Terms (use 2-3 per slogan):**\n{{ $json.niche_context.top_insider_terms.join(', ') }}\n\n---\n\n## Conversion Requirements\n\n**Signal Shift Suggested:** {{ $json.conversion_required.signal_shift }}\n\n**Transformation Strategy:** {{ $json.conversion_required.reason }}\n\n**Punch Line Required:** {{ $json.conversion_required.punch_line_required ? 'YES' : 'NO' }}\n\n**Punch Line Strategy:** {{ $json.conversion_required.punch_line_strategy }}\n\n**Justification:** {{ $json.conversion_required.justification }}\n\n**IMPORTANT:** The suggested signal shift may be incorrect. You will generate BOTH signal perspectives to ensure comprehensive coverage.\n\n---\n\n## Reference Patterns from Target Niche\n\n{{ $json.reference_patterns.map((ref, index) => `\n**Reference ${index + 1}:**\n- Slogan: \"${ref.slogan}\"\n- Pattern: ${ref.pattern}\n- Formula: ${ref.formula}\n- Energy: ${ref.energy}\n- Insider Terms: ${ref.insider_terms.join(', ')}\n- Transfer Hint: ${ref.transfer_hint}\n- Match Score: ${ref.match_score}/10\n`).join('\\n') }}\n\n---\n\n## YOUR TASK\n\nGenerate EXACTLY 10 slogans:\n\n**PART 1: SELF-SIGNAL (5 slogans)**\n- Perspective: \"I\", \"MY\", first-person\n- Sentence Structure: Context fit + SELF-signal alignment\n- 5 unique variations\n- Punch lines with edge\n\n**PART 2: OTHER-SIGNAL (5 slogans)**\n- Perspective: \"YOU\", \"YOUR\", second-person\n- Audience: OUTSIDERS (customers) - simple language\n- Sentence Structure: Context fit + OTHER-signal alignment\n- 5 unique variations\n- Boundary-setting punch lines\n\n**ALL 10:**\n- Preserve original structure ({{ $json.original.format_type }}, {{ $json.original.element_count }} elements)\n- Pass all Red Flag checks\n- Validate before output\n\n**Energy:** {{ $json.niche_context.energy }}\n**Tone:** {{ $json.niche_context.tone }}\n**Emotion:** {{ $json.niche_context.core_emotion }}\n\nGenerate now.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# SLOGAN ADAPTATION ENGINE v2.3\n\nYou are a Print-on-Demand slogan adaptation specialist. Your mission: Adapt successful slogans to new niches by finding the emotional parallel and speaking in the target customer's authentic voice.\n\n**Core Principle:** Create slogans that feel written BY someone in the niche, not FOR them.\n\n---\n\n## ROLE & MISSION\n\nYou adapt existing slogans to new niches while:\n- Preserving the original's emotional core and structural formula\n- Converting signal type when required (OTHER↔SELF)\n- Using authentic insider language from the target niche\n- Maintaining energy level, tone, and punch line strategy\n\n**You are NOT translating words—you are transplanting emotional needs into a new context.**\n\n---\n\n## CORE PRINCIPLES\n\n### 1. STRUCTURE PRESERVATION > CONTENT TRANSLATION\n- **Opening format = skeleton** (must stay identical)\n- **Element count = DNA** (must match exactly)\n- **Format type = blueprint** (checklist stays checklist)\n- **Escalation pattern = rhythm** (builds to punch line)\n\n**Rule:** Structure dictates everything. Content fills the structure.\n\n### 2. SIGNAL FIDELITY\n- **SELF-Signal:** \"I am X\" (declarative, inward-facing)\n- **OTHER-Signal:** \"You should Y\" (instructional, outward-facing)\n\n**Critical:** Never mix signals within a slogan.\n\n### 3. CONCRETE > ABSTRACT\n- Every action = specific verb (not vague concept)\n- Every object = concrete tool/item (not abstract idea)\n- Test: \"Would they literally say/do this at work?\"\n\n**Forbidden:** Lifestyle slang (\"vibes\", \"game\"), abstract concepts (\"excellence\", \"legendary\"), motivational poster language (\"respect the grind\")\n\n### 4. AUTHENTICITY > CLEVERNESS\n- Insider accuracy beats wordplay\n- Natural voice beats marketing polish\n- Wearable beats shocking\n\n### 5. DIVERSITY ENFORCEMENT\n- Identify the variable element (opener or content)\n- Generate 10 unique variations (never repeat)\n- Test: Count occurrences—if any appears 2+ times, reject\n\n---\n\n## SIGNAL TYPES & AUDIENCE\n\n### SELF-Signal (Declarative)\n**Language:** \"I\", \"MY\", \"I'M A [ROLE]\", \"BEFORE I\"  \n**Purpose:** Declaring who you are or what you do  \n**Audience:** General public (anyone reading)\n\n### OTHER-Signal (Instructional)\n**Language:** \"YOU\", \"YOUR\", \"BEFORE YOU\", \"DON'T\", \"THIS [ROLE]\"  \n**Purpose:** Telling others what to do/expect  \n**Audience:** CRITICAL—Must identify who \"YOU\" is!\n\n---\n\n## OTHER-SIGNAL AUDIENCE (CRITICAL!)\n\n**OTHER-Signal = Addressing someone. WHO?**\n\n**Two Types:**\n\n| Audience Type | Language | Example Actions | Wearability |\n|---------------|----------|-----------------|-------------|\n| **PEERS** (same role) | Insider jargon, technical terms | \"Check the manifest\", \"Scan the inventory\" | Senior member setting standards |\n| **OUTSIDERS** (customers/public) | Simple, customer-facing terms | \"Check with neighbors\", \"Look on your porch\" | Setting boundaries with customers |\n\n---\n\n**Decision Rule:**\n\n1. **Look at original:** Uses insider jargon OR simple language?\n   - Insider jargon → Likely PEERS\n   - Simple language → Likely OUTSIDERS\n\n2. **Test the actions:** Can a customer do this without training?\n   - YES → Outsider language ✅\n   - NO → Peer language (only if original addresses peers)\n\n3. **When unclear:** Choose OUTSIDERS (broader appeal, clearer wearability)\n\n**Wearability Test:**\n- Peer: \"Why would a driver wear this telling other drivers what to do?\" (Often unclear)\n- Outsider: \"Why would a driver wear this telling customers what to do?\" (Clear: setting boundaries)\n\n**CRITICAL:** Most OTHER-signal adaptations should address OUTSIDERS, not peers, unless original clearly addresses peers with technical jargon.\n\n---\n\n## STRUCTURE PRESERVATION\n\n### Opening Format Types\n\n**Rule:** Opening format dictates conversion strategy.\n\n| Original Opening | SELF Conversion | OTHER Conversion |\n|------------------|-----------------|------------------|\n| \"Before You [Trigger]:\" | \"Before I [Action]:\" | \"Before You [Customer Action]:\" |\n| \"This [Role]\" | \"I'M A [ROLE]\" | Keep as \"THIS [ROLE]\" |\n| \"WHY YOUR [X]:\" | DO NOT CONVERT | Keep as \"WHY YOUR [X]:\" |\n| \"Hell Yeah I [X]\" | Keep as \"Hell Yeah I [X]\" | \"Hell Yeah This [Role] [X]\" |\n\n**Critical:** Do NOT change opening structure type.\n- ❌ \"Before You...\" → \"I'M A [ROLE] WHO:\"\n- ✅ \"Before You...\" → \"Before I...\"\n\n---\n\n## CONVERSION RULES\n\n### OTHER→SELF Conversion\n\n**Transformation:** \"You should do X\" → \"I am/do X\"\n\n| Original Element | Converted Element | Technique |\n|------------------|-------------------|-----------|\n| \"Before You [Trigger]:\" | \"Before I [Action]:\" | Change perspective, keep structure |\n| \"Did you check X?\" | \"X CHECKED\" | Question → Completed task |\n| \"Is it in Y?\" | \"Y READY/SECURED/SET\" | Question → Status confirmation |\n| \"You must X\" | \"I ALWAYS X\" | Command → Attribute |\n| \"Seriously, go check\" | \"SERIOUSLY, [BOUNDARY]\" | Command → Defiant boundary |\n\n**Key Technique:** Use completion indicators (CHECKED, READY, SET, DONE, LOCKED, SECURED, PLANNED, TAGGED)\n\n### SELF→OTHER Conversion\n\n**Transformation:** \"I am X\" → \"You should know Y\"\n\n| Original Element | Converted Element | Technique |\n|------------------|-------------------|-----------|\n| \"Before I [Action]:\" | \"Before You [Trigger]:\" | Change perspective, keep structure |\n| \"I'M A [ROLE] WHO X\" | \"THIS [ROLE] X\" | Identity → Warning |\n| \"MY X is ready\" | \"YOUR X BETTER BE READY\" | Attribute → Requirement |\n| \"SERIOUSLY, I [X]\" | \"SERIOUSLY, YOU SHOULD [X]\" | Pride → Expectation |\n\n**CRITICAL for OTHER:** Identify audience (peer vs outsider) and match language!\n\n---\n\n## WORD-FOR-WORD MAPPING\n\n**Process:**\n\n1. **Identify components:**\n   - Opening format (fixed structure)\n   - Perspective markers (I/YOU/MY/YOUR)\n   - Action verbs (concrete activities)\n   - Objects (specific items)\n   - Intensity amplifiers (SERIOUSLY, HELL YEAH)\n\n2. **Map each element:**\n   - Opening → Preserve structure, convert perspective if needed\n   - Amplifiers → Keep exactly (SERIOUSLY stays SERIOUSLY)\n   - Actions → Replace with niche-specific (concrete, not abstract)\n   - Objects → Replace with niche-specific (concrete, not abstract)\n\n3. **Proximity Test:**\n   - Can you map word-for-word to original?\n   - Is everything concrete (not abstract)?\n   - Does it use correct signal type?\n   - If NO to any → Reject\n\n---\n\n## PUNCH LINE STRATEGY\n\n**Punch line = Final element delivering emotional payoff**\n\n### Six Strategies:\n\n1. **Boundary statement:** \"DON'T TEST MY [specific thing]\"\n2. **Cheeky contrast:** \"MY [X] IS READY, MY PATIENCE ISN'T\"\n3. **Ownership claim:** \"I OWN THIS [specific domain]\"\n4. **Identity declaration:** \"SERIOUSLY, I'M A [ROLE]\"\n5. **Niche-specific threat:** \"I KNOW WHERE YOU LIVE\" (delivery)\n6. **Cheeky confession:** \"1% - I kicked it\" (explainer format)\n\n### Execution Rules:\n\n1. **Preserve intensity amplifier** from original (e.g., \"SERIOUSLY\")\n2. **Make it specific** to the niche (not generic)\n3. **Add attitude/edge** (not just competence)\n\n**Quality Gate:**\n- ✅ Specific to niche? (not \"respect the grind\")\n- ✅ Has attitude/edge? (not \"I rock this job\")\n- ✅ Wearable? (not corporate speak)\n\nIf 2+ answers NO → Reject and regenerate\n\n---\n\n## INSIDER LANGUAGE\n\n**Requirements:**\n- Use 2-3 niche-specific terms per slogan\n- Terms must be concrete (tools, actions, locations)\n- Vary combinations across all 10 slogans\n\n**Source:** Provided in `niche_context.top_insider_terms`\n\n**Forbidden:**\n- Lifestyle slang: \"vibes\", \"game\", \"energy\"\n- Abstract concepts: \"excellence\", \"legendary\"\n- Corporate speak: \"workflow\", \"synergy\"\n- Wrong terminology: Don't use jargon from different industries\n- Motivational language: \"respect the grind\", \"get it right\"\n\n---\n\n## ENERGY & TONE MATCHING\n\n**Energy Levels:**\n- **High:** 60-80% CAPS (\"HELL YEAH I FIX LEAKS\")\n- **Medium-High:** 40-60% CAPS (\"BEFORE I START: Truck CHECKED\")\n- **Medium:** 20-40% CAPS (\"I'm a Driver Who OWNS This Route\")\n- **Low:** 0-20% minimal caps (\"Quietly fixing things\")\n\n**Match energy from:** `niche_context.energy`\n\n**Tone Matching:**\nFollow guidance from `niche_context.tone` exactly:\n- \"Playful humor\" → Light, friendly\n- \"Blunt defiance\" → Direct, no apologies\n- \"Warm pride\" → Positive, celebratory\n- \"Playful yet assertive\" → Mix cheeky and strong\n\n---\n\n## VALIDATION CHECKLIST\n\nRun EVERY slogan through these 7 critical tests:\n\n### 1. STRUCTURE TEST\n✓ Opening format preserved exactly?\n✓ Element count matches original?\n✓ Format type unchanged (checklist stays checklist)?\n\n### 2. AUDIENCE TEST (OTHER-signal only)\n✓ Is \"YOU\" clearly identified (peer or outsider)?\n✓ Does language match audience knowledge level?\n✓ Wearability clear (why would they wear this)?\n\n### 3. SIGNAL TEST\n✓ Uses correct signal type (SELF or OTHER)?\n✓ Consistent throughout (no mixing)?\n\n### 4. DIVERSITY TEST\n✓ Opener/variable unique (not repeated across batch)?\n\n### 5. CONCRETE TEST\n✓ All actions/objects concrete (not abstract)?\n✓ Uses 2-3 authentic insider terms?\n✓ No forbidden language (vibes, legendary, grind)?\n\n### 6. PUNCH LINE TEST\n✓ Intensity amplifier preserved?\n✓ Specific to niche (not generic)?\n✓ Has attitude/edge?\n\n### 7. COMPLETION TEST (if converting questions)\n✓ Questions became completed tasks?\n✓ Uses completion indicators (CHECKED, READY)?\n\n**If ANY answer is NO → REJECT and regenerate.**\n\n---\n\n## OUTPUT REQUIREMENTS\n\nGenerate EXACTLY 10 slogans:\n\n### PART 1: SELF-SIGNAL (5 slogans)\n- Perspective: \"I\", \"MY\", \"BEFORE I\"\n- Convert questions to completed tasks\n- Each uses unique opener/variable\n- Strong, specific punch lines\n\n### PART 2: OTHER-SIGNAL (5 slogans)\n- Perspective: \"YOU\", \"YOUR\", \"BEFORE YOU\"\n- **Choose OUTSIDERS as audience** (customer-facing language)\n- Simple actions non-experts can do\n- Each uses unique opener/variable\n- Strong, specific punch lines\n\n**Why both?** Input suggestion may be wrong. Generate both to ensure coverage.\n\n---\n\n## CRITICAL MINDSET\n\n**You are a transplant surgeon:**\n\n1. **Skeleton** = Original structure (preserve exactly)\n2. **Perspective** = Signal type (convert carefully)\n3. **Flesh** = Insider language (adapt authentically)\n4. **Heart** = Punch line (emotional payoff with edge)\n\nAll four must align for a winning slogan.\n\n---\n\n## AUTHENTICITY & NATURALNESS\n\n**Before finalizing each slogan:**\n\n1. **Say it out loud** - Does it sound natural or forced?\n2. **Check the vibe** - Are you showing strength or defending weakness?\n3. **Test the flow** - Does everything connect smoothly, or does something feel off?\n\n**Golden Rules:**\n- Show what you CAN DO, not what you DON'T fail at\n- Use positive claims, not negative avoidance\n- Match punch line intensity to what came before\n- Make it sound like pride, not justification\n\n**If it sounds awkward when spoken → Rewrite it.**\n\n---\n\n## FINAL CHECKLIST\n\nBefore submitting your 10 slogans:\n\n✓ Opening format preserved?\n✓ ALL 10 openers/variables unique?\n✓ First 5 = SELF, Second 5 = OTHER?\n✓ OTHER-signal addresses OUTSIDERS (customers)?\n✓ All element counts match original?\n✓ All use 2-3 authentic insider terms?\n✓ All punch lines specific + have edge?\n✓ Intensity amplifiers preserved?\n✓ Completion indicators used (if converting)?\n✓ All passed 7-point validation?\n\n**If any fails → Fix before output.**\n\n---\n<EXTENDED CONTEXT ONLY EXAMPLES>\n## EXTENDED CONTEXT: CONVERSION GUIDES\n\n### SELF-Signal Conversion\n\n**Step 1: Preserve Opening Format**\n- \"Before You [X]\" → \"Before I [Y]\"\n- \"This [Role]\" → \"I'M A [ROLE]\"\n\n**Step 2: Convert with Status Indicators**\nCHECKED, READY, SET, DONE, LOCKED, SECURED, PLANNED, TAGGED, LOADED, CONFIRMED, INSPECTED, MAPPED\n\n**Examples:**\n- \"Did you check stock?\" → \"Stock CHECKED\"\n- \"Is it in location?\" → \"Location CONFIRMED\"\n\n---\n\n### OTHER-Signal Conversion for OUTSIDERS\n\n**Step 1: Keep structure, change to customer scenario**\n**Step 2: Simple customer actions only**\n\n**Examples:**\n- \"Did you check [obvious location]?\"\n- \"Is your [device] [basic state]?\"\n- \"Did you try [simple solution]?\"\n\n---\n\n## EXTENDED CONTEXT: RED FLAGS\n\n### ❌ RED FLAG 1: Structure Change\nWrong: \"Before You...\" → \"I'M A [Role] WHO:\"  \nRight: \"Before You...\" → \"Before I...\"\n\n### ❌ RED FLAG 2: Wrong Audience\nUsing technical terms customers don't understand in OTHER-signal\n\n### ❌ RED FLAG 3: Missing Completion Indicators\nWrong: \"I CHECK truck\" → Right: \"Truck CHECKED\"\n\n### ❌ RED FLAG 4: Generic Punch Lines\nForbidden: \"RESPECT THE GRIND\", \"LEGENDARY [Role]\", \"I'M THE BEST\"\n\n### ❌ RED FLAG 5: Abstract + Defensive Language\n**Forbidden words:**\n- Vibes, game, energy, mode (when unnatural)\n- Excellence, legendary, champion\n- Workflow, synergy, optimize\n- Journey, passion, hustle\n\n**Defensive patterns (rewrite to positive):**\n- \"ALWAYS [basic task]\" → Focus on special skills instead\n- \"NEVER [failure]\" → Focus on what you excel at\n- \"DOESN'T [negative]\" → Focus on capability\n\n### ❌ RED FLAG 6: Repeated Variables\nCount openers—if any appears 2+ times, reject batch\n\n### ❌ RED FLAG 7: Role as Task\nWrong: \"Driver READY\" → Right: \"Route READY\"\n\n### ❌ RED FLAG 8: Action Without Object\nWrong: \"DELIVERING ready\" → Right: \"Packages DELIVERED\"\n\n---\n\n## EXTENDED CONTEXT: CREATIVE VARIATION\n\n### Vary Across Slogans:\n\n**Stylistic Devices:** Exaggeration, Irony, Contrasts, Absurd Seriousness\n\n**Emotional Archetypes:** Fighter, Jester, Rebel, Sage, Hero, Everyman\n\n**Punch Line Strategies:**\n1. Boundary Statement\n2. Ownership Claim\n3. Cheeky Contrast\n4. Identity Declaration\n5. Niche-Specific Threat\n6. Absurd Seriousness\n7. Cultural Reference\n\n---\n\n## EXTENDED CONTEXT: WEARABILITY TEST\n\n**Ask:** \"Would someone in this niche PROUDLY wear this?\"\n\n**Passes if:**\n- Feels written BY them, not FOR them\n- Uses their actual language\n- Expresses emotion they feel\n- Sets boundary they want to set\n\n**Fails if:**\n- Sounds like marketing copy\n- Uses wrong terminology\n- Too generic (could apply to any job)\n- Motivational poster language\n</EXTENDED CONTEXT ONLY EXAMPLES>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -832,
        736
      ],
      "id": "474130ca-bf93-4c82-b4e0-921fe32cf744",
      "name": "SLOGAN ADAPTATION ENGINE v2.2"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2368,
        944
      ],
      "id": "44d69c00-6711-480c-8e61-07f568bb6479",
      "name": "Wait 10",
      "webhookId": "46144f50-5c94-47db-a661-59f6ad439a14"
    },
    {
      "parameters": {
        "model": "=mistralai/mistral-small-creative",
        "options": {
          "temperature": "={{ 0.3 }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -832,
        1104
      ],
      "id": "01220bb8-02fd-4ff9-ad87-594894a26224",
      "name": "OpenRouter",
      "credentials": {
        "openRouterApi": {
          "id": "51DEs2SFPnaiUwxH",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2a1b6a98-4cc5-8166-9907-f80733159d9a",
          "mode": "list",
          "cachedResultName": "POD Designerworkboard",
          "cachedResultUrl": "https://www.notion.so/2a1b6a984cc581669907f80733159d9a"
        },
        "title": "=[AI] {{ $json.target_niche }} - {{ $json.original_slogan_reference }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Date|date",
              "date": "={{ $now }}",
              "timezone": "Europe/Berlin"
            },
            {
              "key": "Status|multi_select",
              "multiSelectValue": [
                "AI Idears"
              ]
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_1",
              "textContent": "AI-generated slogans:"
            },
            {
              "type": "to_do",
              "textContent": "={{ $json.slogan_texts }}"
            },
            {
              "type": "heading_1",
              "textContent": "=Summary"
            },
            {
              "textContent": "={{ $json.niche_profile.niche_summary }}"
            },
            {
              "type": "heading_1",
              "textContent": "Emotional Reality"
            },
            {
              "textContent": "={{ $json.niche_profile.emotional_reality }}"
            },
            {
              "type": "heading_1",
              "textContent": "Design Concepts"
            },
            {
              "textContent": "={{ $json.niche_profile.design_concepts }}"
            },
            {
              "type": "heading_1",
              "textContent": "Dominat Design Aesthetics"
            },
            {
              "textContent": "={{ $json.niche_profile.dominant_design_aesthetics }}"
            },
            {
              "type": "heading_2",
              "textContent": "Images"
            },
            {
              "textContent": "={{ $json.images }}"
            },
            {
              "type": "heading_2",
              "textContent": "URLs"
            },
            {
              "textContent": "={{ $json.urls }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        368,
        832
      ],
      "id": "28cb95c3-815a-475e-9246-19e4c2b31f2b",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "UpxuPE7E9IOySCAD",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Reference Patterns from Target Niche\n\n{{ $json.output.slogans.map((ref, index) => `\n- Slogan${index + 1}: \"${ref.slogan_text}\"\n`).join('\\n') }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=# SLOGAN QUALITY CHECK & CORRECTION\n\n## YOUR TASK\n\nYou will receive a list of slogans that need to be validated and potentially corrected. Your job is to:\n1. Check each slogan for logical consistency, semantic correctness, and signal purity\n2. Identify and fix authenticity issues\n3. Return the corrected slogans\n\n**Your default mindset: \"Can this be better?\" not \"Is this acceptable?\"**\n\n---\n\n# MANDATORY FIXES - CHECK EVERY SLOGAN\n\nYou MUST identify and fix these issues immediately:\n\n**AUTOMATIC REJECTS:**\n1. **Signal mixing:** I/MY with YOU/YOUR in the same slogan\n2. **Negative framing:** Show what you can do, not what you avoid failing at\n3. **Defensive language:** Sounds like defending weakness → Change to proud/confident claim\n4. **Mismatched intensity:** Punch line energy doesn't match the content before it\n5. **Unnatural phrasing:** Something no native speaker would actually say\n\n**If ANY of these exist → Fix it immediately before output.**\n\n---\n\n# QUALITY CHECK GUIDELINES\n\nFor each slogan, verify:\n\n1. **Does this make sense?**\n   - Is everything described actually possible or believable?\n   - Do the timing and sequence work logically?\n   - Would a real person in this niche say this?\n\n2. **Is the perspective consistent?**\n   - SELF-signal (I/MY): You're talking about YOURSELF - never mention \"you\" or \"your\"\n   - OTHER-signal (YOU/YOUR): You're talking to OTHERS - keep \"I/my\" out of it\n\n3. **Do the words fit together naturally?**\n   - Does each element connect logically to the others?\n   - Are you using concrete, specific language, not vague abstractions?\n   - Does everything flow and feel cohesive?\n\n4. **Would someone proudly wear this?**\n   - Is it playful and defiant, not mean or threatening?\n   - Does it capture the niche's pride and humor?\n   - Is it specific enough that only THIS niche would wear it?\n\n5. **Does it feel authentic?**\n   - Say it out loud - does it sound natural or forced?\n   - Are you showing strength or defending weakness?\n   - Does the tone stay consistent throughout?\n   - Would someone in this niche actually say this?\n\n**If something feels off or contradictory → Fix it before you submit.**\n\nThink like the person wearing the shirt. Make it make sense. Make it sound natural. Make it powerful.\n\n---\n\n## OUTPUT FORMAT\n\nReturn a JSON object containing an array of corrected slogans. For each slogan, include:\n- The original text as you received it\n- The corrected text (same as original if no changes needed)\n- A boolean indicating whether changes were made\n- A brief explanation of what was fixed (empty if unchanged)"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -528,
        736
      ],
      "id": "1a300c50-e999-45e8-82a6-d3c2e6ef23ab",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -528,
        896
      ],
      "id": "fd265d0e-fc9b-463a-9c5a-1aab6e820b12",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "51DEs2SFPnaiUwxH",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"corrected_slogans\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"original_text\": {\n            \"type\": \"string\",\n            \"description\": \"The original slogan text as received\"\n          },\n          \"corrected_text\": {\n            \"type\": \"string\",\n            \"description\": \"The corrected slogan text (same as original if no changes needed)\"\n          },\n          \"was_changed\": {\n            \"type\": \"boolean\",\n            \"description\": \"True if the slogan was modified, false if it passed validation as-is\"\n          },\n          \"change_reason\": {\n            \"type\": \"string\",\n            \"description\": \"Brief explanation of what was fixed (empty string if no changes)\"\n          }\n        },\n        \"required\": [\"original_text\", \"corrected_text\", \"was_changed\", \"change_reason\"],\n        \"additionalProperties\": false\n      }\n    }\n  },\n  \"required\": [\"corrected_slogans\"],\n  \"additionalProperties\": false\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -384,
        976
      ],
      "id": "79917b04-4893-456f-a29d-96470be8d2d2",
      "name": "Structured Output Parser4"
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "n8n.mariowinter.com",
            "user-agent": "axios/1.12.0",
            "content-length": "6139",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "via": "1.1 Caddy",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n.mariowinter.com",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "nicheName": "Delivery Driver Shirt",
            "grund": {
              "name": "Delivery Driver Shirt",
              "approval_status": "APPROVED",
              "signal_conversion": {
                "required": true,
                "direction": "OTHER→SELF",
                "original_signal": "OTHER",
                "target_signal": "SELF",
                "transformation_strategy": "Convert the checklist into a declarative statement affirming the wearer's expertise and boundaries."
              },
              "emotional_alignment": {
                "keywords": [
                  "pride",
                  "playfulness",
                  "defiance",
                  "empowerment",
                  "amusement",
                  "camaraderie"
                ],
                "core_emotion": "Proud defiance",
                "energy_level": "High",
                "tone_guidance": "Combine playful defiance with high-energy, proud affirmation of professional boundaries."
              },
              "structural_insights": {
                "element_count": 4,
                "format_type": "Numbered checklist",
                "punch_line_required": true,
                "punch_line_strategy": "Callback with attitude"
              },
              "justification": "The Delivery Driver Shirt niche shares a proud, playful affirmation of professional identity and boundaries with the original niche. Both niches use humor and defiance to assert their expertise and set boundaries, making the adaptation feasible. The transformation from a checklist to a declarative statement aligns with the delivery drivers' playful yet firm boundary-setting culture."
            },
            "NicheProfileSellingNiches": {
              "niche_name": "Delivery Driver Shirt",
              "niche_summary": "The Delivery Driver Shirt niche is a proud, positive community celebrating hardworking delivery and postal workers through humor, identity affirmation, and playful boundary-setting, blending ruggedness with lighthearted camaraderie.",
              "sentiment": "Positive",
              "primary_emotions": [
                "pride",
                "playfulness",
                "amusement",
                "defiance",
                "empowerment"
              ],
              "emotional_archetype": [
                "Hero",
                "Everyman",
                "Rebel",
                "Caregiver"
              ],
              "example_keywords": [
                "delivery driver",
                "mail carrier",
                "truck driver",
                "postal worker",
                "school bus driver",
                "delivery mode",
                "just a girl who delivers",
                "bad mother trucker",
                "retired postal worker",
                "tip me"
              ],
              "pattern_analysis": [
                {
                  "name": "IDENTITY DECLARATION",
                  "present": true,
                  "context": "Strongly present in slogans like 'DELIVERY DRIVER LIMITED EDITION', 'BADASS DELIVERY BEAST', and 'JUST A GIRL WHO DELIVERS', which affirm niche pride and self-identification in delivery and trucking roles."
                },
                {
                  "name": "VINTAGE/LEGACY",
                  "present": true,
                  "context": "Present in slogans like 'DELIVERY DRIVER LIMITED EDITION' and 'RURAL CARRIER FREQUENT STOPS', which evoke nostalgia and celebrate the legacy and enduring appeal of delivery professions."
                },
                {
                  "name": "BOUNDARY/GATEKEEPING",
                  "present": true,
                  "context": "Strongly present in slogans such as 'DON'T MESS WITH THE MAIL LADY I KNOW WHERE YOU LIVE' and 'TIP ME I KNOW ===WHERE=== YOU LIVE', which assert playful but firm boundaries and demand respect within the niche."
                },
                {
                  "name": "COMPETENCE/EXPERTISE",
                  "present": true,
                  "context": "Present in slogans like 'STUDENT DELIVERY SPECIALIST' and 'RELIABLE • BLESSED • TALENTED • HAPPY Delivery Driver', highlighting skill, reliability, and professional pride within the delivery community."
                }
              ],
              "emotional_reality": "A proud and playful affirmation of individual identity and professional competence, mixed with lighthearted defiance and boundary-setting, reflecting the tough yet humorous spirit of delivery workers.",
              "design_concepts": "Bold, colorful designs featuring delivery and trucking motifs targeting hardworking men and women, positioning the wearer as a confident, skilled professional or proud family member within a rugged, blue-collar culture.",
              "dominant_design_aesthetics": "Vintage and distressed typography, bold sans-serif and script fonts, detailed truck and delivery vehicle illustrations, vibrant color palettes with reds, yellows, and blues, and balanced layouts combining text and graphics for strong visual impact."
            },
            "OriginalNicheProfile": {
              "niche_name": "inventory control specialist Shirt",
              "niche_summary": "This niche celebrates inventory control specialists with a positive pride-driven sentiment that embraces humor and boundary-setting frustration to validate their specialized expertise and assertiveness.",
              "sentiment": "Positive",
              "primary_emotions": [
                "pride",
                "frustration",
                "confidence",
                "validation"
              ],
              "emotional_archetype": [
                "Hero",
                "Rebel"
              ],
              "example_keywords": [
                "inventory",
                "control",
                "specialist",
                "pride",
                "boundary",
                "frustration",
                "vintage",
                "bold typography"
              ],
              "pattern_analysis": [
                {
                  "name": "IDENTITY DECLARATION",
                  "present": true,
                  "context": "Present through slogans like 'BEST INVENTORY EVER' and 'I NEVER DREAMED I WOULD BE A SUPER COOL INVENTORY CONTROL SPECIALIST BUT HERE I AM KILLING IT' which affirm pride and self-identity in a niche, often overlooked professional role, giving wearers a confident, celebratory voice."
                },
                {
                  "name": "VINTAGE/LEGACY",
                  "present": true,
                  "context": "Evident in the use of retro distressed vintage style in the 'BEST INVENTORY EVER' design, evoking nostalgia and warmth that softens the prideful declaration."
                },
                {
                  "name": "BOUNDARY/GATEKEEPING",
                  "present": true,
                  "context": "Strongly present in the slogan 'BEFORE YOU BOTHER ME: 1. DID YOU CHECK THE STOCK? 2. IS IT IN THE RIGHT LOCATION? 3. DID YOU SCAN IT CORRECTLY? 4. SERIOUSLY, GO CHECK.' which humorously asserts workplace boundaries and frustration with interruptions."
                },
                {
                  "name": "COMPETENCE/EXPERTISE",
                  "present": true,
                  "context": "Implicit in all slogans affirming skill and pride in inventory control, especially those that highlight unexpected success and mastery in a niche role."
                }
              ],
              "emotional_reality": "A quiet but confident pride in specialized inventory expertise combined with permission to assert workplace boundaries humorously and firmly.",
              "design_concepts": "Bold, clear declarations of niche role identity targeting inventory control specialists in peer-based workplaces, positioning wearers as competent heroes with a rebellious edge asserting their value and boundaries.",
              "dominant_design_aesthetics": "Muted vintage color palettes with distressed textures combined with bold, uppercase sans-serif typography in centered or structured layouts emphasizing clarity, readability, and confident messaging."
            },
            "OriginalSlogan": "Before You Bother Me: 1. Did you check the stock? 2. Is it in the right location? 3. Did you scan it correctly? 4. Seriously, go check",
            "OriginalNiche": "inventory control specialist Shirt"
          },
          "webhookUrl": "https://n8n.mariowinter.com/webhook-test/4b23db6c-e9bc-4266-8f6d-79a10513a428",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "SLOGAN ADAPTATION ENGINE",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Filter9": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "EditFieldsNicheProfilesAndAnalyses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "ORIGINAL SLOGAN ANALYSIS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get current data for polling1": {
      "main": [
        [
          {
            "node": "Extract IDs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract IDs1": {
      "main": [
        [
          {
            "node": "If all data exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all SloganAnalyses1": {
      "main": [
        [
          {
            "node": "Clean cache1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean cache1": {
      "main": [
        [
          {
            "node": "JsonParser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s": {
      "main": [
        [
          {
            "node": "Get current data for polling1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Wait 10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SELLING PRODUCT VALIDATION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If all data exists": {
      "main": [
        [
          {
            "node": "Get all SloganAnalyses1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JsonParser": {
      "main": [
        [
          {
            "node": "Filter9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "provideForGoogle": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "provideForTrello": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "provideForGoogle",
            "type": "main",
            "index": 0
          },
          {
            "node": "provideForTrello",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SELLING PRODUCT VALIDATION": {
      "main": [
        [
          {
            "node": "Wait 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MergeProductAnalysis": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EditFieldsNicheProfilesAndAnalyses": {
      "main": [
        [
          {
            "node": "prepareforLLM1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "SLOGAN ADAPTATION ENGINE",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "SLOGAN ADAPTATION ENGINE",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "ORIGINAL SLOGAN ANALYSIS",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "ORIGINAL SLOGAN ANALYSIS",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "ORIGINAL SLOGAN ANALYSIS": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepareforLLM": {
      "main": [
        [
          {
            "node": "SLOGAN ADAPTATION ENGINE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scoring": {
      "main": [
        [
          {
            "node": "MergeProductAnalysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SLOGAN ADAPTATION ENGINE": {
      "main": [
        []
      ]
    },
    "Think1": {
      "ai_tool": [
        [
          {
            "node": "SLOGAN ADAPTATION ENGINE v2.2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "prepareforLLM1": {
      "main": [
        [
          {
            "node": "SLOGAN ADAPTATION ENGINE v2.2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "SLOGAN ADAPTATION ENGINE v2.2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "SLOGAN ADAPTATION ENGINE v2.2": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10": {
      "main": [
        [
          {
            "node": "Get current data for polling1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter": {
      "ai_languageModel": [
        [
          {
            "node": "SLOGAN ADAPTATION ENGINE v2.2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "aff90221-839b-4a78-aacb-5d5d01b369fd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "255ce5f2aa1250d50d62e1df7820878347771b477657ea3db630f142d3a80eed"
  },
  "id": "Hds5RsKgbPCQL3yr",
  "tags": []
}